<%- header%>
<a id="fab_top" href="#inicio" class="float_button btn-large waves-effect waves-light"><span
        class="material-symbols-outlined">arrow_upward</span></a>

<body onload="mostrarConce('para')" id="sangria">

    <div class="main_menu">
        <nav>
            <div class="nav-wrapper">
                <a style="color: black" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="material-symbols-outlined">menu</i></a>
                <div class="container">
                    <a href="#inicio" class="brand-logo">
                        <img style="width: 150px"
                            src="/images/prancheta_23.svg">
                    </a>
                    <ul class="right hide-on-large-and-down">

                        <li><a class="nav-link" href="#modulos">Vantagens</a></li>
                        <li><a class="nav-link" href="#recursos">Recursos</a></li>
                        <li><a class="nav-link" href="#representantes">Representantes</a></li>
                        <li><a class="nav-link" href="#perguntas">Perguntas</a></li>


                    </ul>
                </div>

            </div>
        </nav>

        <div id="start"></div>

        <div>

            <ul id="mobile-demo" class="sidenav sidenav-close">

                <li><a class="nav-link" href="#modulos">Vantagens</a></li>
                <li><a class="nav-link" href="#recursos">Recursos</a></li>
                <li><a class="nav-link" href="#representantes">Representantes</a></li>
                <li><a class="nav-link" href="#perguntas">Perguntas</a></li>


            </ul>
        </div>

    </div>


    <div class="main_content" onscroll="mostrarPosicaoDeRolagem()">
        <div id="inicio" style="display:none" class="titulo_none">
            <h1>Conheça o GEWEB</h1>
        </div>
        <div class="banner_1_background section_separator">


            <div id="vantagens" class="owl-carousel style1">
                <div class="banner container">
                    <div class="banner1">
                        <div class="esquerda">
                            <div class="high">
                                <p class="seccondary_color">A mais completa plataforma de gestão escolar para redes
                                    públicas de ensino</p>
                            </div>
                            <div class="subtitle">
                                <p class="seccondary_color">Matrículas online, gestão de turmas, censo escolar, diário
                                    de classe, aplicativo de alunos e responsáveis, tudo em uma plataforma abrangente e
                                    personalizável, desenvolvida especificamente para redes públicas de ensino</p>
                            </div>
                        </div>
                        <div class="direita"><img
                                src="/images/banner_1_full.png"
                                alt=""></div>
                    </div>
                </div>
                <div class="container banner">
                    <div class="banner2">
                        <div class="esquerda">
                            <div class="high">
                                <p class="seccondary_color">Agilidade e eficiência na geração da documentação escolar
                                </p>
                            </div>
                            <div class="subtitle">
                                <p class="seccondary_color">Processos automatizados de emissão de históricos,
                                    declarações e certificados proporcionam economia de tempo e recursos</p>
                            </div>
                        </div>
                        <div class="direita"><img
                                src="/images/banner_2_full.png"
                                alt=""></div>
                    </div>
                </div>
                <div class="container banner">
                    <div class="banner1">
                        <div class="esquerda">
                            <div class="high">
                                <p class="seccondary_color">Potencialize suas escolas com uma experiência digital
                                    completa e conectada</p>
                            </div>
                            <div class="subtitle">
                                <p class="seccondary_color">Conteúdos, materiais de apoio, atividades, notificações e
                                    muito mais, em um aplicativo do aluno proporciona uma experiência educacional
                                    moderna e conectada</p>
                            </div>
                        </div>
                        <div class="direita"><img
                                src="/images/banner_3_full.png"
                                alt=""></div>
                    </div>
                </div>
                <div class="container banner">
                    <div class="banner2">
                        <div class="esquerda">
                            <div class="high">
                                <p class="seccondary_color">Reduza retrabalhos e ganhe eficiência na gestão da sua rede
                                    de ensino</p>
                            </div>
                            <div class="subtitle">
                                <p class="seccondary_color">As múltiplas integrações com as diversas áreas
                                    administrativas promovem redução de tempo e esforço</p>
                            </div>
                        </div>
                        <div class="direita"><img
                                src="/images/banner_4_full.png"
                                alt=""></div>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div id="modulos" class="container">
                <div class="title">
                    <div>
                        <h2><span class="geweb_primary_color">Principais Vantagens</span></h2>
                        <p class="subtitle">O conjunto dos módulos integrados em nosso SISTEMA ACADÊMICO permite a
                            gestão pública mais velocidade e confiabilidade na obtenção de informações sobre alunos,
                            docentes, turmas e escolas de qualquer zona do município. Independente das unidades de
                            ensino possuirem conexão com a internet ou não, dado que nosso sistema pode operar das duas
                            formas para abranger todas as necessidades operacionais das escolas.</p>
                    </div>
                </div>

                <div>
                    <div class="grid_vantagens">
                        <div class="vantagem solid_green active reverse">
                            <p>Maior Velocidade na gestão pública</p>
                        </div>
                        <div class="vantagem solid_orange active">
                            <p>Rapidez na obtenção de informação de alunos, docentes, turmas e escolas de qualquer zona.
                            </p>
                        </div>
                        <div class="vantagem solid_green active">
                            <p>Adaptável a estrutura da unidade de ensino.</p>
                        </div>
                        <div class="vantagem solid_purple active">
                            <p>Realize a matrícula dos alunos por um sistema online robusto</p>
                        </div>
                        <div class="vantagem solid_purple active">
                            <p>Gerencie espaços pedagógicos de forma simples e consistente</p>
                        </div>
                        <div class="vantagem solid_green active">
                            <p>Gerencie os horários de aula e de avaliação</p>
                        </div>
                        <div class="vantagem solid_orange active">
                            <p>Rápido processamento de dados para o censo escolar</p>
                        </div>
                        <div class="vantagem solid_green active">
                            <p>Permite a redução de papel durante o processo público</p>
                        </div>
                    </div>
                </div>
                <div class="title">
                    <a href="#representantes">
                        <button class="main_btn big_btn prim_btn waves-effect waves-light">Conheça nossos
                            Representantes</button>
                    </a>
                </div>
            </div>

            <article id="recursos">
                <div class="container">
                    <div class="alignment-center title">
                        <h2><span class="geweb_primary_color">Recursos</span></h2>
                    </div>


                    <!-- Escola -->
                    <div class="owl-carousel escola background-4 carousel_block ">
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/escola.png">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="purple_text reverse">
                                    <h3>Gestão de Escolas</h3>
                                    <p>Permite gerenciar por ano letivo as informações de infraestrutura, dependência
                                        administrativa e dependências físicas, equipamentos, características especiais,
                                        modalidades de ensino, turnos, autorização de ensino, entre outras.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/espacos_pedagogicos.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="purple_text reverse">
                                    <h3>Gestão de Espaços Pedagógicos</h3>
                                    <p>Devidamente autorizado pela secretaria de educação, permite a criação de espaços
                                        pedagógicos na escola para o controle da lotação de docentes readaptados ou não
                                        nesses espaços.</p>
                                </div>
                            </div>
                        </div>
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/documentos_escolares.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="purple_text reverse">
                                    <h3>Gestão de Documentos Escolares</h3>
                                    <p>Devidamente autorizado pela secretaria de educação, permite a criação de espaços
                                        pedagógicos na escola para o controle da lotação de docentes readaptados ou não
                                        nesses espaços.</p>
                                </div>
                            </div>
                        </div>
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/censo_escolar.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="purple_text reverse">
                                    <h3>Gestão de Censo Escolar</h3>
                                    <p>Nossa ferramenta de censo escolar simplifica o processo de submetimento das
                                        informações de todos alunos, orientando você durante o processo de correção de
                                        dados conforme o layout de importação exigido pelo MEC/INEP para que os mesmos
                                        possam ser importados pelo portal do Educacenso.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- turmas -->
                    <div class="owl-carousel escola carousel_block background-2">
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/alunos.png">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="green_text">
                                    <h3>Gestão de Alunos</h3>
                                    <p>Permite gerenciar os dados pessoais, endereço, pais e responsáveis, além de
                                        gerenciar toda a vida escolar dos alunos com emissão dos documentos escolares,
                                        declarações, ressalvas entre outros.</p>
                                </div>
                            </div>
                        </div>
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/cal_esc.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="green_text">
                                    <h3>Gestão de Calendários Escolares</h3>
                                    <p>Permite gerenciar por ano letivo os vários calendários escolares de uma rede de
                                        ensino, com previsão de dias letivos e não letivos, dias letivos com e sem
                                        atividades pedagógicas, feriados nacionais, estaduais e locais, indicação de
                                        programas, projetos e feiras.</p>
                                </div>
                            </div>
                        </div>
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/matriculas.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="green_text">
                                    <h3>Gestão de Matrículas</h3>
                                    <p>Permite gerenciar por ano letivo todo o processo de rematrícula e matrículas
                                        novas, funcionando como uma verdadeira central de matrículas onde a secretaria
                                        de educação poderá monitorar todas as vagas por escola e etapa de ensino além
                                        está totalmente integrado com o Portal de Matrículas Online.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Recursos Humanos -->
                    <div class="owl-carousel escola carousel_block background-3">
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/rh.png">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="orange_text">
                                    <h3>Gestão de Quadro Funcional</h3>
                                    <p>Permite gerenciar por ano letivo as informações de cargos, funções, situação
                                        funcional, carga horária, hora-atividade, cedência, dos docentes e dos não
                                        docentes lotados na escola.</p>
                                </div>
                            </div>
                        </div>
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/freq_func.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="orange_text">
                                    <h3>Gestão de Frequência Funcional</h3>
                                    <p>Permite gerenciar por ano letivo e competência as informações de cargo,
                                        carga-horária, hora-atividade e situação funcional, dos docentes e não docentes
                                        lotados na escola.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- turmas -->
                    <div class="owl-carousel escola carousel_block background-2">

                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/gest_horario.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="green_text">
                                    <h3>Gestão de Horários</h3>
                                    <p>Faz o controle dos horários de aulas de cada componente curricular e
                                        consequentemente dos docentes responsáveis pelos mesmos, não permitindo
                                        componentes curriculares diferentes no mesmo horário e sala de aula, nem o mesmo
                                        docente no mesmo horário em salas de aula diferentes. Faz também a gestão dos
                                        horários de provas e disponibiliza todos os horários tanto de aula quanto de
                                        provas nos aplicativos do aluno/responsável e do servidor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="hero-card-item">
                                    <div class="image-container">
                                        <img
                                            src="/images/historico_esc.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="hero-card-right">
                                <div class="green_text">
                                    <h3>Gestão de Históricos Escolares</h3>
                                    <p>Com o avanço das tecnologias e a disseminação do uso de documentos digitais com
                                        validação de autenticidade, a plataforma Gestor Escolar WEB foi a primeira
                                        plataforma de gestão educacional a disponibilizar a emissão de Histórico Escolar
                                        com assinatura eletrônica, este recurso possibilita maior agilidade, mobilidade
                                        e comodidade às escolas, pais e responsáveis na geração e obtenção do referido
                                        documento.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </section>




        <article id="sistemas_integrados" style="background-color: #f2f2f2; margin-top: 16px; padding: 16px 0px">
            <div class="container">
                <div class="row">
                    <div class="col s12 center title">
                        <p class="geweb_primary_color subtitle">O GEWEB fica ainda melhor quando se conecta aos</p>
                        <h2 class="geweb_primary_color"><span>Sistemas Integrados</span></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="owl-carousel style2">
                        <a target="blank">
                            <div class="card-carrossel">
                                <img src="/images/avaliaedu_min.svg"
                                    alt="">
                            </div>

                        </a>
                        <a target="blank">
                            <div class="card-carrossel">
                                <img src="/images/estoqgov_min.svg"
                                    alt="">
                            </div>

                        </a>
                        <a target="blank">
                            <div class="card-carrossel">
                                <img src="/images/etransporte_min.svg"
                                    alt="">
                            </div>

                        </a>
                        <a target="blank">
                            <div class="card-carrossel">
                                <img src="/images/lotagovrh_min.svg"
                                    alt="">
                            </div>

                        </a>
                        <a targer="blank">
                            <div class="card-carrossel">
                                <img src="/images/nutrigov_min.svg"
                                    alt="">
                            </div>
                        </a>
                        <a targer="blank">
                            <div class="card-carrossel">
                                <img src="/images/comprasgov_min.svg"
                                    alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </article>

        <article id="representantes">
            <div class="container">
                <div class="center title">
                    <p class="geweb_primary_color subtitle">Contrate o GEWEB agora mesmo com um dos nossos</p>
                    <h2><span class="geweb_primary_color">Representantes</span></h2>
                </div>
            </div>

            <div class="container">
                <div class="card rev">
                    <div class="row">
                        <p style="margin-bottom: 1.0rem" class="subtitle">Altamente preparadas, nossas concessionárias
                            estão aptas a capacitar equipe de todos os tamanhos a se tornarem autônomas no uso de nossos
                            sistemas trazendo o modelo de excelência em gestão para a administração pública.</p>
                        <div class="input-field col s12">
                            <select onchange="mostrarConce(event)">
                                <option value="" disabled selected>Selecione sua região</option>
                                <option value="ceara">Ceará</option>
                                <option value="maranhao">Maranhão</option>
                                <option value="para">Pará</option>
                                <option value="minasgerais">Minas Gerais</option>
                                <option value="riograndedosul">Rio Grande do Sul</option>
                                <option value="santacatarina">Santa Catarina</option>
                                <option value="tocantins">Tocantins</option>
                            </select>
                            <label>Estado</label>
                        </div>
                    </div>
                    <div class="rev-grid">
                    </div>

                </div>

            </div>
        </article>
        <footer style="background-color: var(--primary-color)">
            <article id="perguntas" class="container section_separator">
                <div class="faq">
                    <div class="title">
                        <h2 class="geweb_positive_color"><span>Perguntas</span></h2>
                        <p class="geweb_positive_color subtitle">Veja aqui as principais perguntas</p>
                    </div>


                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 1</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit
                                    amet mauris. Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                    ullamcorper vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est
                                    sed magna ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus.
                                    Quisque nec enim libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 2</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit
                                    amet mauris. Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                    ullamcorper vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est
                                    sed magna ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus.
                                    Quisque nec enim libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 3</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit
                                    amet mauris. Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                    ullamcorper vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est
                                    sed magna ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus.
                                    Quisque nec enim libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 4</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit
                                    amet mauris. Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                    ullamcorper vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est
                                    sed magna ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus.
                                    Quisque nec enim libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 5</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit
                                    amet mauris. Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                    ullamcorper vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est
                                    sed magna ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus.
                                    Quisque nec enim libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>

                    </ul>

                    <div class="title">
                        <p class="geweb_positive_color subtitle">Você tem alguma dúvida sobre nossos serviços ou
                            gostaria de ser um de nossos representantes?</p>
                        <button class="main_btn big_btn prim_btn negativo waves-effect waves-light">Fale
                            conosco</button>
                    </div>

                </div>
            </article>
            <div style="height: 64px !important"></div>
        </footer>
    </div>
    <div class="rodape" id="cookie-banner">
        <p>Esta página web utiliza cookis para aprimorar sua experiência. Clique em aceitar para permitir a ativação
            destes elementos.</p>
        <div style="display: flex; gap: 16px">
            <button id="cookie-banner-btn">Aceitar</button>
        </div>
    </div>

</body>
<%- footer%>