<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="https://schema.org/WebSite">

<head>
  <!-- Meta tags básicas -->
  <meta charset="UTF-8">
  <meta name="mit" content="2017-11-29T17:14:42-02:00+32580">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
  <meta name="description"
    content="Plataforma abrangente e personalizada desenvolvida especificamente para redes públicas de ensino." />
  <meta name="robots" content="index, follow" />

  <!-- Título da página -->
  <title>GovSolutions - Soluções tecnológicas para órgãos públicos</title>

  <!-- Links canônicos e base -->
  <link rel="base" href="https://govsolutions.com.br" />
  <link rel="canonical" href="https://govsolutions.com.br/" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.png" />

  <!-- Meta tags Schema.org -->
  <meta itemprop="name" content="GovSOLUTIONS - Soluções tecnológicas para órgãos públicos" />
  <meta itemprop="description"
    content="Plataforma abrangente e personalizada desenvolvida especificamente para redes públicas de ensino." />
  <meta itemprop="image" content="https://govsolutions.com.br/images/logo.png" />
  <meta itemprop="url" content="https://govsolutions.com.br/" />

  <!-- Meta tags Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="GovSOLUTIONS - Soluções tecnológicas para órgãos públicos" />
  <meta property="og:description"
    content="Plataforma abrangente e personalizada desenvolvida especificamente para redes públicas de ensino." />
  <meta property="og:image" content="https://govsolutions.com.br/images/logo.png" />
  <meta property="og:url" content="https://govsolutions.com.br/" />
  <meta property="og:site_name" content="GovSOLUTIONS" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="article:author" content="https://govsolutions.com.br/autor" />
  <meta property="article:publisher" content="https://govsolutions.com.br" />

  <!-- Fontes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- Estilos de terceiros -->
  <link rel="stylesheet" href="/styles/materialize.min.css">
  <link rel="stylesheet" href="/styles/owl.carousel.min.css">
  <link rel="stylesheet" href="/styles/owl.theme.default.min.css">

  <!-- Estilos principais do projeto -->
  <link rel="stylesheet" href="/styles/tailwind.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/component.css">
  <link rel="stylesheet" href="/styles/quem-somos.css">
  <link rel="stylesheet" href="/styles/docs.css">

  <!-- Estilos de banners -->
  <link rel="stylesheet" href="/styles/banner_config.css">
  <link rel="stylesheet" href="/styles/banner1_config.css">
  <link rel="stylesheet" href="/styles/banner2_config.css">
  <link rel="stylesheet" href="/styles/banner3_config.css">

  <!-- Scripts principais -->
  <script src="/scripts/jquery.js"></script>
  <script src="/scripts/jquery.form.js"></script>

  <!-- Scripts de terceiros -->
  <script src="/scripts/materialize.min.js"></script>
  <script src="/scripts/owl.carousel.min.js"></script>

  <!-- Scripts do projeto -->
  <script src="/scripts/index.js"></script>

</head>

<body>