<%- header%>


    <body>
        <div class="fix">
            <nav class="custom-nav">
                <div class="nav-wrapper w-full md:w-[80dvw] self-center max-w-[1440px]">
                    <a href="#inicio" class="brand-logo">
                        <img alt="GovSOLUTIONS" style="width: 150px" src="/images/logo.png">
                    </a>

                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><span
                            class="material-symbols-outlined">menu</span></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#numeros">Números</a></li>
                        <li><a href="#solucoeseParceiros">Soluções e Parceiros</a></li>
                        <li><a href="#quemsomos">Quem Somos</a></li>
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                <li><a class="sidenav-close" href="#numeros">Números</a></li>
                <li><a class="sidenav-close" href="#solucoeseParceiros">Soluções e Parceiros</a></li>
                <li><a class="sidenav-close" href="#quemsomos">Quem Somos</a></li>
            </ul>
        </div>

        <div class="inner" id="main-content">
            <div class="scroll flex flex-col gap-4 pt-4">
                <div id="banners" class="w-full md:w-[80dvw] self-center max-w-[1440px] px-6">
                    <div class="flex w-full items-center shadow-lg rounded-3xl">
                        <div id="inicio" class="owl-carousel style1" style="padding-bottom: 16px;">


                            <div class="banner geweb">
                                <div class="banner1">
                                    <div class="esquerda">
                                        <div class="w-full flex justify-center">
                                            <span style="position: relative;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 130px; 
                            aspect-ratio: 16/9; 
                            background-image: url('/images/preferencial.svg')"></span>
                                        </div>
                                        <div class="high">
                                            <p>A mais completa plataforma de gestão escolar para redes públicas de
                                                ensino
                                            </p>
                                        </div>
                                        <div class="subtitle">
                                            <p>Uma plataforma abrangente e personalizável, desenvolvida especificamente
                                                para
                                                redes públicas de ensino</p>
                                        </div>
                                        <a href="#solucoeseParceiros" class="main_btn big_btn prim_btn text-lg">Conheça
                                            nossas soluções</a>

                                    </div>
                                    <div class="direita">
                                        <div class="preview" style="background-image: url('/images/banner_1_full.png')">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="banner almoxarifado">
                                <div class="banner1">
                                    <div class="esquerda">
                                        <div class="w-full flex justify-center">
                                            <span style="position: relative;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 130px; 
                            aspect-ratio: 16/9;  background-image: url('/images/estoq_gov_logo.svg')"></span>
                                        </div>
                                        <div class="high">
                                            <p>A Melhor Gestão de Almoxarifado para Órgãos Públicos</p>
                                        </div>
                                        <div class="subtitle">
                                            <p>Feito exclusivamente para órgãos públicos de todo o brasil</p>
                                        </div><a href="#solucoeseParceiros"
                                            class="main_btn big_btn prim_btn text-lg">Conheça nossas soluções</a>

                                    </div>
                                    <div class="direita">
                                        <div class="preview" style="background-image: url('/images/banner_1_1_l.svg')">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="banner lotagovrh">
                                <div class="banner1">
                                    <div class="esquerda">
                                        <div class="w-full flex justify-center">
                                            <span style="position: relative;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 130px; 
                            aspect-ratio: 16/9;  background-image: url('/images/lotagovrh_logo.png')"></span>
                                        </div>
                                        <div class="high">
                                            <p>Alocar docentes e não docentes nunca foi tão fácil</p>
                                        </div>
                                        <div class="subtitle">
                                            <p>Transformamos uma tarefa complexa em um processo simples e prático,
                                                reduzindo
                                                tempo e esforço</p>
                                        </div><a href="#solucoeseParceiros"
                                            class="main_btn big_btn prim_btn text-lg">Conheça nossas soluções</a>

                                    </div>
                                    <div class="direita">
                                        <div class="preview" style="background-image: url('/images/Prancheta_4.svg')">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="banner nutrigov">
                                <div class="banner1">
                                    <div class="esquerda">
                                        <div class="w-full flex justify-center">
                                            <span style="position: relative;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 130px; 
                            aspect-ratio: 16/9;  background-image: url('/images/nutrigov_logo.svg')"></span>
                                        </div>
                                        <div class="high">
                                            <p>Desperdício zero com o dimensionamento automático de compras</p>
                                        </div>
                                        <div class="subtitle">
                                            <p>Você planeja o cardápio, nós dizemos o quanto comprar</p>
                                        </div><a href="#solucoeseParceiros"
                                            class="main_btn big_btn prim_btn text-lg">Conheça nossas soluções</a>

                                    </div>
                                    <div class="direita">
                                        <div class="preview" style="background-image: url('/images/desperdicio.png')">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="numeros" class="w-full md:w-[80dvw] self-center max-w-[1440px] px-6">
                    <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl">
                        <div class="flex flex-row justify-center items-center">
                            <h2 class="!text-[32px] !font-bold m-0 text-blue-500">Números</h2>
                        </div>

                        <div class="grid gap-4 grid-cols-1 md:grid-cols-3">
                            <div
                                class="w-full h-60 rounded-3xl overflow-hidden transition-all hover:bg-blue-500 hover:text-white">
                                <div class="h-full flex flex-col gap-4 items-center justify-center p-4">
                                    <div> <span id="fastCounters" class="font-bold text-6xl mb-2" data-target=84></span>
                                    </div>
                                    <p class=" text-base text-center">
                                        Municípios assistidos pela nossa equipe
                                    </p>
                                </div>
                            </div>
                            <div
                                class="w-full h-60 rounded-3xl overflow-hidden transition-all hover:bg-blue-500 hover:text-white">
                                <div class="h-full flex flex-col gap-4 items-center justify-center p-4">
                                    <div class="font-bold text-6xl mb-2">+<span id="slowerCounters"
                                            data-target=845></span>Mil</div>
                                    <p class=" text-base text-center">
                                        Alunos atendidos em nossos sistemas
                                    </p>
                                </div>
                            </div>
                            <div
                                class="w-full h-60 rounded-3xl overflow-hidden transition-all hover:bg-blue-500 hover:text-white">
                                <div class="h-full flex flex-col gap-4 items-center justify-center p-4">
                                    <div class="font-bold text-6xl mb-2">+<span id="slowerCounters"
                                            data-target=1></span>Milhão</div>
                                    <p class=" text-base text-center">
                                        Acessos por dia todos os dia
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="solucoeseParceiros" class="w-full md:w-[80dvw] self-center max-w-[1440px] px-6">
                    <div class="flex flex-col gap-4">
                        <div id="conhecaogeweb"
                            class="w-full flex flex-col items-center justify-center gap-4 overflow-hidden rounded-3xl">
                            <div
                                class="hero relative w-full aspect-square md:aspect-video rounded-3xl shadow-lg bg-blue-500">

                                <div class="animationBackground absolute bottom-0 w-[130%] md:w-full h-full bg-contain bg-no-repeat select-none pointer-events-none"
                                    style="background-position: bottom; background-image: url('/images/macbook.png')">
                                </div>

                                <div
                                    class="absolute right-0 top-0 h-full flex flex-col items-center justify-start md:justify-center aspect-square">
                                    <div
                                        class="flex flex-col items-center md:items-start justify-start md:justify-center max-w-[90%] md:max-w-[70%] gap-4 py-14">
                                        <span
                                            class="text-[1.4rem] md:text-[1.8rem] text-center md:text-left md:leading-4 m-0 font-bold text-white animateTextOverBackground"
                                            style="line-height: 2.0rem;">
                                            Transforme a gestão da sua rede de ensino com uma plataforma abrangente,
                                            eficiente e personalizada para órgãos públicos.
                                        </span>
                                        <a href="geweb"
                                            class="main_btn big_btn prim_btn text-lg animateTextOverBackground delay">Conheça
                                            o GEWEB <span class="material-symbols-outlined">arrow_right_alt</span> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div id="conhecaoestoqgov" class="w-full flex flex-col items-center justify-center gap-4 overflow-hidden rounded-3xl">
                            <div class="hero relative w-full aspect-square md:aspect-video rounded-3xl shadow-lg bg-orange-300">
                        
                                <div class="animationBackground absolute bottom-0 w-[130%] md:w-full h-full bg-contain bg-no-repeat select-none pointer-events-none"
                                    style="background-position: bottom; background-image: url('/images/macbook.png')">
                                </div>
                        
                                <div
                                    class="absolute right-0 top-0 h-full flex flex-col items-center justify-start md:justify-center aspect-square">
                                    <div
                                        class="flex flex-col items-center md:items-start justify-start md:justify-center max-w-[90%] md:max-w-[70%] gap-4 py-14">
                                        <span
                                            class="text-[1.4rem] md:text-[1.8rem] text-center md:text-left md:leading-4 m-0 font-bold text-white animateTextOverBackground"
                                            style="line-height: 2.0rem;">
                                            Transforme a gestão da sua rede de ensino com uma plataforma abrangente, eficiente e personalizada
                                            para órgãos públicos.
                                        </span>
                                        <a href="geweb" class="main_btn big_btn prim_btn text-lg animateTextOverBackground delay">Conheça
                                            o EstoqGOV <span class="material-symbols-outlined">arrow_right_alt</span> </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div id="conhecaonutrigov" class="w-full flex flex-col items-center justify-center gap-4 overflow-hidden rounded-3xl">
                                                    <div class="hero relative w-full aspect-square md:aspect-video rounded-3xl shadow-lg bg-orange-300">
                                                
                                                        <div class="animationBackground absolute bottom-0 w-[130%] md:w-full h-full bg-contain bg-no-repeat select-none pointer-events-none"
                                                            style="background-position: bottom; background-image: url('/images/macbook.png')">
                                                        </div>
                                                
                                                        <div
                                                            class="absolute right-0 top-0 h-full flex flex-col items-center justify-start md:justify-center aspect-square">
                                                            <div
                                                                class="flex flex-col items-center md:items-start justify-start md:justify-center max-w-[90%] md:max-w-[70%] gap-4 py-14">
                                                                <span
                                                                    class="text-[1.4rem] md:text-[1.8rem] text-center md:text-left md:leading-4 m-0 font-bold text-white animateTextOverBackground"
                                                                    style="line-height: 2.0rem;">
                                                                    Transforme a gestão da sua rede de ensino com uma plataforma abrangente, eficiente e personalizada
                                                                    para órgãos públicos.
                                                                </span>
                                                                <a href="geweb" class="main_btn big_btn prim_btn text-lg animateTextOverBackground delay">Conheça
                                                                    o EstoqGOV <span class="material-symbols-outlined">arrow_right_alt</span> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->

                        <div class="flex flex-col gap-4 items-center w-full p-4 pb-0 shadow-lg rounded-3xl">
                            <div class="w-full flex flex-col items-center justify-center gap-4">
                                <h2 class="!text-[32px] !font-bold m-0 text-blue-500">Soluções e parceiros</h2>
                                <div class="font-bold text-center text-slate-900 w-10/12">Conheça nossos parceiros e o
                                    que
                                    eles podem fazer por você agora mesmo!</div>
                            </div>
                            <div class="w-full">
                                <div class="solucoes">
                                    <div class="owl-carousel style100">
                                        <a class="item" target="_blank" href="https://www.lotagovrh.com.br">
                                            <div class="mask" style="background-image: url('/images/lotagovrh.png');">

                                            </div>
                                            <div class="overlay">
                                                <div class="flex flex-col items-start gap-4">
                                                    <span style="font-size: 1rem;" class="text-white font-bold">Lotação
                                                        de
                                                        Docentes e Não Docentes, Controle de Hora Atividade, Frequência
                                                        Funcional, Transferências, Ampliação de Carga Horária, tudo isso
                                                        e
                                                        muito mais.</span>
                                                    <button
                                                        class="main_btn big_btn prim_btn waves-effect waves-light text-lg">Saiba
                                                        Mais<span class="material-symbols-outlined">
                                                            arrow_outward
                                                        </span></button>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="item" target="_blank" href="https://www.nutrigov.com">
                                            <div class="mask" style="background-image: url('/images/nutrigov.png');">

                                            </div>
                                            <div class="overlay">
                                                <div class="flex flex-col items-start gap-4">
                                                    <span style="font-size: 1rem;"
                                                        class="text-white font-bold">Plataforma
                                                        completa de Gestão de Alimentação Escolar para redes públicas de
                                                        ensino.</span>
                                                    <button
                                                        class="main_btn big_btn prim_btn waves-effect waves-light text-lg">Saiba
                                                        Mais<span class="material-symbols-outlined">
                                                            arrow_outward
                                                        </span></button>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="item" target="_blank" href="https://www.estoqgov.com">
                                            <div class="mask" style="background-image: url('/images/estoqgov.png');">
                                            </div>
                                            <div class="overlay">
                                                <div class="flex flex-col items-start gap-4">
                                                    <span style="font-size: 1rem;" class="text-white font-bold">Gerencie
                                                        o
                                                        estoque de todas as entidades de forma centralizada.</span>
                                                    <button
                                                        class="main_btn big_btn prim_btn waves-effect waves-light text-lg">Saiba
                                                        Mais<span class="material-symbols-outlined">
                                                            arrow_outward
                                                        </span></button>
                                                </div>
                                            </div>
                                        </a>

                                        <a class="item">
                                            <div class="mask"
                                                style="filter:grayscale(1); background-image: url('/images/avaliaedu.png');">

                                            </div>
                                            <div class="overlay">
                                                <div class="flex flex-col items-start gap-4">
                                                    <span style="font-size: 1rem;" class="text-white font-bold">Mais que
                                                        avaliar o desempenho dos alunos, entender a evolução da sua rede
                                                        de
                                                        ensino como um todo.</span>
                                                    <button
                                                        class="main_btn big_btn prim_btn waves-effect waves-light text-lg">Em
                                                        Breve</button>
                                                </div>
                                            </div>

                                        </a>

                                        <a class="item">
                                            <div class="mask"
                                                style="filter:grayscale(1); background-image: url('/images/comprasgov.png');">

                                            </div>
                                            <div class="overlay">
                                                <div class="flex flex-col items-start gap-4">
                                                    <span style="font-size: 1rem;" class="text-white font-bold">Gestão
                                                        Completa de Compras Governamentais, Planejamento, Dotação
                                                        Orçamentária, Cotação de Preço, Registro de Preços e
                                                        Contratos</span>
                                                    <button
                                                        class="main_btn big_btn prim_btn waves-effect waves-light text-lg">Em
                                                        Breve</button>
                                                </div>

                                            </div>
                                        </a>
                                        <a class="item">
                                            <div class="mask"
                                                style="filter:grayscale(1); background-image: url('/images/etransporte.png');">

                                            </div>
                                            <div class="overlay">
                                                <div class="flex flex-col items-start gap-4">
                                                    <span style="font-size: 1rem;" class="text-white font-bold">Gestão
                                                        de
                                                        Frota e Transporte Escolar, tudo em uma só plataforma</span>
                                                    <button
                                                        class="main_btn big_btn prim_btn waves-effect waves-light text-lg">Em
                                                        Breve</button>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>

                <div id="quemsomos" class="w-full md:w-[80dvw] self-center max-w-[1440px] px-6">
                    <div
                        class="flex flex-col gap-4 items-center justify-center w-full h-96 p-4 bg-blue-500 shadow-lg rounded-3xl">
                        <div class="flex flex-col items-center justify-center gap-4">
                            <h2 class="!text-[32px] !font-bold m-0 text-white">Quem Somos</h2>
                            <div class="font-bold text-center text-white w-10/12">Uma história rica e cheia de vitórias,
                                conheça um pouco mais sobre nossos objetivos e missão</div>
                        </div>
                        <div class="flex flex-row w-full items-center justify-center">
                            <a href="/about" class="main_btn big_btn sec_btn text-lg">Quem Somos <span
                                    class="material-symbols-outlined">arrow_right_alt</span> </a>

                        </div>
                    </div>
                </div>

                <div class="py-[40px] w-[100dvw] flex flex-col items-center bg-blue-200">
                    <!-- Logo -->
                    <div class="w-full md:w-[80dvw] max-w-[1440px] p-6 bg-transparent">
                        <!-- Menus -->
                        <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8"
                            style="color: white; font-family: 'Nunito', sans-serif;">

                            <div class="flex items-center w-full justify-start mb-8">
                                
                                <img alt="GovSOLUTIONS" class="w-full max-w-[260px]" src="/images/logo.png">
                            </div>

                            <!-- WEBSITE -->
                            <div>
                                <h4 class="text-slate-600 !font-bold !text-[24px]">WEBSITE</h4>
                                <ul class="space-y-1">
                                    <li><a href="#inicio" class="hover:underline !font-light !text-slate-600">Início</a>
                                    </li>
                                    <li><a href="#planos_contratos"
                                            class="hover:underline !font-light !text-slate-600">Preços</a>
                                    </li>
                                    <li><a href="#recursos" class="hover:underline !font-light !text-slate-600">Recursos</a>
                                    </li>
                                    <li><a href="#sistemas_integrados"
                                            class="hover:underline !font-light !text-slate-600">Sistemas
                                            Integrados</a></li>
                                </ul>
                            </div>

                            <!-- RECURSOS -->
                            <div>
                                <h4 class="text-slate-600 !font-bold !text-[24px]">SOLUÇÕES E
                                    PARCEIROS</h4>
                                <ul class="space-y-1">
                                    <li><a href="https://estoqgov.com.br"
                                            class="hover:underline !font-light !text-slate-600">EstoqGOV</a></li>
                                    <li><a href="https://nutrigov.com.br"
                                            class="hover:underline !font-light !text-slate-600">NutriGOV</a></li>
                                    <li><a href="#inicio" class="hover:underline !font-light !text-slate-600">LotaGOVRH (Em
                                            Breve)</a></li>
                                    <li><a href="#inicio" class="hover:underline !font-light !text-slate-600">AvaliaEdu (Em
                                            Breve)</a></li>
                                    <li><a href="#inicio" class="hover:underline !font-light !text-slate-600">ComprasGOV (Em
                                            Breve)</a></li>
                                    <li><a href="#inicio" class="hover:underline !font-light !text-slate-600">eTransporte
                                            (Em Breve)</a></li>

                                </ul>
                            </div>

                            <!-- JURÍDICO -->
                            <div>
                                <h4 class="text-slate-600 !font-bold !text-[24px]">JURÍDICO</h4>
                                <ul class="space-y-1">
                                    <li><a href="/policies" class="hover:underline !font-light !text-slate-600">Termos e
                                            Polícitas de
                                            Privacidade</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Copyright -->
                        <div class="flex flex-col md:flex-row items-center justify-center w-full gap-2">
                            <span class="text-sm !font-light !text-slate-600">
                                © 2025 GovSOLUTIONS - Todos os direitos reservados
                            </span>
                        </div>
                    </div>
                </div>



            </div>
        </div>






    </body>



    <%- footer%>