<%- header%>

    <div class="fix">
        <nav class="custom-nav">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">
                    <img style="width: 220px" src="/images/logo.png">
                </a>

                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><span
                        class="material-symbols-outlined">menu</span></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/#numeros">Números</a></li>
                    <li><a href="/#solucoeseParceiros">Soluções e Parceiros</a></li>
                    <li><a href="/#quemsomos">Quem Somos</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="/#numeros">Números</a></li>
            <li><a href="/#solucoeseParceiros">Soluções e Parceiros</a></li>
            <li><a href="/#quemsomos">Quem Somos</a></li>
        </ul>
    </div>
    <article class="inner">
        <div class="scroll quem-somos py-4">
            <!-- <div id="cronologia" class="container">
                <div class="w-full shadow-lg rounded-3xl overflow-hidden">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="text-2xl p-4 md:leading-4 m-0 font-bold text-themePrimary">Cronologia</h2>
                    </div>
                    <div class="p-4 owl-carousel style3 cronologia">
                        <div class="itexl tabindex="1">
                            <div class="content">
                                <p>Eduardo Saraiva é convidado a solucionar um problema de centralização de informações para permitir que a tomada de decisões mais coesas pelos gestores das unidades de ensino da rede municipal em meados de 2001;</p>
                            </div>
                            <div class="fab_effect vermelho"></div>
                        </div>
                        <div class="item" tabindex="2">
                            <div class="content">
                                <p class="text-xs font-bold">Para melhor analisar e entender as necessidades implícitas nesta tarefa, ele se muda para um município no coração da Amazônia no mesmo ano;</p>
                            </div>
                            <div class="fab_effect laranja"></div>
                        </div>
                        <div class="item" tabindex="3">
                            <div class="content">
                                <p>Ele observa os principais dificuldades estruturais e sociais enfrentadas diariamente pela equipes das de cada unidade de ensino do municipais;</p>
                            </div>
                            <div class="fab_effect verde"></div>
                        </div>
                        <div class="item" tabindex="4">
                            <div class="content">
                                <p>Após um ano de pesquisa e estudos, é criado o primeiro protótipo do programa Gestor Escolar em meados de 2002, tendo sua versão oficial lançada no ano seguinte;</p>
                            </div>
                            <div class="fab_effect cyano"></div>
                        </div>
                        <div class="item" tabindex="5">
                            <div class="content">
                                <p>Algumas características do aplicativo são a facilidade de uso e a possibilidade de utilização em computadores com Windows e a facilidade de movimentação de seus dados graças a tecnologia de banco de dados do SQL Server;</p>
                            </div>
                            <div class="fab_effect marinho"></div>
                        </div>
                        <div class="item" tabindex="6">
                            <div class="content">
                                <p>A missão do aplicativo neste ponto estava em progresso, permitindo que as equipes de cada unidade de ensino assim como a da secretaria trabalhassem em conjunto para unificar as diversas informações relacionadas aos alunos, documentações e unidades de ensino;</p>
                            </div>
                            <div class="fab_effect amarelo"></div>
                        </div>
                        <div class="item" tabindex="7">
                            <div class="content">
                                <p>A facilidade de utilização do aplicativo se espalha até para as unidades escolares que não possuíam computadores pois devido as suas características, possibilitando que unidades escolares satélites recebessem esporadicamente as informações das demais unidades para encaminhá-las à secretaria;</p>
                            </div>
                            <div class="fab_effect vermelho"></div>
                        </div>
                        <div class="item" tabindex="8">
                            <div class="content">
                                <p>Consolidando e fortalecendo a secretaria de educação de cada município onde o aplicativo foi implantado.</p>
                            </div>
                            <div class="fab_effect verde"></div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div id="historia" class="container container-about">
                <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl items-center">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="!text-[32px] !font-bold !m-0 text-blue-500 text-center">Nossa História</h2>
                    </div>
                    <div class="flex flex-col gap-4 items-center">
                        <p class="text-base text-slate-700 leading-relaxed">A história da GovSOLUTIONS se confunde com a história de
                            seu
                            principal produto: o Gestor Escolar Web, carinhosamente chamado de GEWEB pelos seus
                            usuários. <br><br>Desde o início, nossa missão tem sido transformar a gestão das
                            redes
                            públicas de ensino, contribuindo diretamente para a melhoria da qualidade da
                            educação no
                            Brasil.<br><br>Desenvolvido exclusivamente para atender às necessidades específicas
                            de
                            redes públicas de ensino, o GEWEB foi idealizado com um propósito claro: ser uma
                            ferramenta estratégica para promover o acesso às melhores práticas educacionais e
                            auxiliar redes de ensino, especialmente em regiões carentes, a alcançarem a
                            excelência.<br><br>O ponto alto dessa jornada foi a chegada do GEWEB à rede de
                            ensino de
                            Sobral-CE, reconhecida por anos como a rede com os melhores IDEBs do
                            Brasil.<br><br>Inspirar-se nas histórias de sucesso de Sobral e outras redes de
                            ensino
                            de destaque foi essencial para transformar as melhores práticas em uma plataforma
                            que
                            pudesse beneficiar qualquer rede de ensino, independentemente do tamanho ou da
                            região.<br><br>Hoje, o GEWEB é mais do que um sistema; é uma ponte para o futuro da
                            educação pública.
                        </p>
                        <div>
                            <a href="#missao" class="main_btn big_btn prim_btn text-xs md:text-lg">Nossa
                                Missão</a>
                        </div>
                    </div>

                </div>
            </div>

            <div id="missao" class="container container-about">
                <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl items-center">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="!text-[32px] !font-bold !m-0 text-blue-500 text-center">Nossa Missão</h2>
                    </div>
                    <div class="flex flex-col gap-4 items-center">
                        <p class="text-base text-slate-700 leading-relaxed">Acreditamos que a tecnologia é uma poderosa aliada na educação, mas sabemos que ela, sozinha, não é suficiente. Nossa missão é equipar pessoas dedicadas com ferramentas certas para que elas alcancem a excelência de maneira mais rápida e eficiente, superando desafios e transformando vidas.</p>
                        <div>
                            <a href="#nossosValores" class="main_btn big_btn prim_btn text-lg">Nossos Valores</a>
                        </div>
                    </div>

                </div>
            </div>

            <div id="nossosValores" class="container container-about">
                <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl items-center w-full">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="!text-[32px] !font-bold !m-0 text-blue-500 text-center">Nossos Valores</h2>
                    </div>
                    <div class="flex flex-col gap-4 items-center w-full">
                        <ul class="w-full pl-6">
                            <li class="text-base text-slate-700 leading-relaxed"><span class="font-semibold">Compromisso com a Educação:</span> Cada funcionalidade do GEWEB é projetada pensando em melhorar a qualidade do ensino.</li>
                            <li class="text-base text-slate-700 leading-relaxed"><span class="font-semibold">Foco em Resultados:</span> Buscamos impactar positivamente redes públicas de ensino, promovendo eficiência e qualidade.</li>
                            <li class="text-base text-slate-700 leading-relaxed"><span class="font-semibold">Inclusão e Acessibilidade:</span> Trabalhamos para que todas as redes, especialmente as mais carentes, tenham acesso a soluções de ponta.</li>
                            <li class="text-base text-slate-700 leading-relaxed"><span class="font-semibold">Inovação e Conexão:</span> Estamos constantemente aprendendo com as melhores práticas para transformar desafios educacionais em oportunidades.</li>
                        </ul>
                        <div>
                            <a href="#visao" class="main_btn big_btn prim_btn text-lg">Nossa Visão</a>
                        </div>
                    </div>

                </div>
            </div>

            <div id="visao" class="container container-about">
                <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl items-center w-full">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="!text-[32px] !font-bold !m-0 text-blue-500 text-center">Nossa Visão</h2>
                    </div>
                    <div class="flex flex-col gap-4 items-center">
                        <p class="text-base text-slate-700 leading-relaxed">
                            Queremos ser reconhecidos como a principal solução tecnológica para redes públicas de ensino no Brasil, ajudando gestores a superar barreiras, transformar escolas e formar gerações de alunos preparados para o futuro.
                        </p>
                        <div>
                            <a href="#porques" class="main_btn big_btn prim_btn text-lg">Por que escolher o GEWEB</a>
                        </div>
                    </div>

                </div>
            </div>

            <div id="porques" class="container container-about">
                <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl items-center">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="!text-[32px] !font-bold !m-0 text-blue-500 text-center">Por que escolher o GEWEB</h2>
                    </div>
                    <div class="flex flex-col gap-4 items-center w-full">
                        <p class="text-base text-slate-700 leading-relaxed">O GEWEB não é apenas um software, mas uma ferramenta que carrega em sua essência o aprendizado e as conquistas das redes de ensino mais bem-sucedidas do país. Ao adotar o GEWEB, gestores contam com:</p>
                        <ul class="w-full pl-6">
                            <li class="text-base text-slate-700 leading-relaxed">Uma plataforma desenvolvida com base nas melhores práticas educacionais do Brasil.</li>
                            <li class="text-base text-slate-700 leading-relaxed">Soluções completas para as áreas acadêmica, pedagógica, avaliação educacional e formação continuada.</li>
                            <li class="text-base text-slate-700 leading-relaxed">Integração com outros sistemas essenciais, como Recursos Humanos, Alimentação Escolar, e Transporte Escolar.</li>
                            <li class="text-base text-slate-700 leading-relaxed">A experiência de uma empresa que entende as reais necessidades da gestão pública.</li>
                        </ul>
                        <div>
                            <a href="#join" class="main_btn big_btn prim_btn text-lg">Junte-se a nós</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="join" class="container container-about">
                <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl items-center">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="!text-[32px] !font-bold !m-0 text-blue-500 text-center">Junte-se à Nossa Jornada</h2>
                    </div>
                    <div class="flex flex-col gap-4 items-center">
                        <p class="text-base text-slate-700 leading-relaxed">Na GovSOLUTIONS, acreditamos que o sucesso de uma rede de ensino depende das pessoas que a constroem. Nosso papel é ser um parceiro estratégico, oferecendo a tecnologia necessária para que professores, gestores e estudantes possam brilhar. Seja você uma secretaria municipal ou estadual de educação, estamos aqui para ajudar a transformar a gestão da sua rede de ensino. Entre em contato conosco e descubra como o GEWEB pode fazer a diferença.</p>
                        <div>
                            <a href="/" class="main_btn big_btn prim_btn text-lg">Voltar à página Principal</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div id="proposito" class="container">
                <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl items-center">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="!text-2xl !font-bold text-blue-500">Missão</h2>
                    </div>
                    <div class="flex flex-col gap-4 items-center">
                        <p class="text-lg font">Acreditamos que a tecnologia é uma poderosa aliada na educação, mas sabemos que ela, sozinha, não é suficiente. Nossa missão é equipar pessoas dedicadas com ferramentas certas para que elas alcancem a excelência de maneira mais rápida e eficiente, superando desafios e transformando vidas.</p>
                        <div>
                            <a href="#diferenciais" class="main_btn big_btn prim_btn text-xs md:text-lg">Diferenciais</a>
                        </div>
                    </div>

                </div>
            </div>

            <div id="diferenciais" class="container">
                <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl items-center">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="text-2xl p-4 md:leading-4 m-0 font-bold text-themePrimary">Diferenciais</h2>
                    </div>
                    <div class="flex flex-col gap-4 items-center">
                        <p class="text-lg font">Com uma equipe altamente qualificada e comprometida com a excelência, a SmartGovBr se destaca por sua capacidade de adaptação e inovação para solucionar problemas complexos. Além disso, a SmartGovBr possui um comprometimento social e uma visão responsável, buscando melhorar a educação em regiões carentes do país. Com soluções personalizadas e adaptadas às necessidades de cada cliente, a empresa oferece qualidade e eficiência em seus serviços. Em resumo, a SmartGovBr é uma referência em soluções tecnológicas eficientes, personalizadas e socialmente responsáveis. Venha conhecer o que podemos oferecer para você!</p>
                        <div>
                            <a href="#valores" class="main_btn big_btn prim_btn text-xs md:text-lg">Valores</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="valores" class="container">
                <div class="flex flex-col gap-4 p-4 shadow-lg rounded-3xl items-center">
                    <div class="flex w-full flex-row items-start">
                        <h2 class="text-2xl p-4 md:leading-4 m-0 font-bold text-themePrimary">Valores</h2>
                    </div>
                    <div class="flex flex-col gap-4 items-center">
                        <ol class="flexxllex-col gap-2 text-xs font-bold">
                            <li>Oferecer sempre a melhor alternativa para execução dos processos onde oferecemos atendimento.</li>
                            <li>Buscar sempre ouvir nossos clientes e efetivar suas necessidades com maior benefício mútuo.</li>
                            <li>Oferecer a melhor base estatística de informações para nossos apoiadores de forma que possam tomar sempre as melhores decisões possíveis diante das dificuldades de qualquer processo.</li>
                            <li>E acima de tudo, tratar todas as situações por nós atendidas com respeito, dedicação e solidariedade para que juntos possamos melhorar o processo público.</li>
                        </ol>
                        <div>
                            <a href="#solucoes" class="main_btn big_btn prim_btn text-xs md:text-lg">Soluções</a>
                        </div>
                    </div>

                </div>
            </div> -->

            <!-- <div id="solucoeseParceiros" class="container">
                <div class="flex flex-col gap-4 items-center w-full p-4 pb-0 shadow-lg rounded-3xl">
                    <div class="flex flex-col items-center justify-center gap-4">
                        <h2 class="text-2xl md:leading-4 m-0 font-bold text-themePrimary">Soluções e parceiros</h2>
                        <div class="font-bold text-center text-slate-900 w-10/12">Conheça nossos parceiros e o que eles podem fazer por você agora mesmo!</div>
                    </div>
                    <div class="w-full">
                        
                    </div>
                    <div></div>
                </div>
            </div> -->
        </div>
    </article>


    </body>

    <script>
        $(".style3").owlCarousel({

            autoplay: false,
            mouseDrag: true,
            callbacks: true,
            loop: false,
            autoheight: true,
            dots: false,
            nav: false,


            responsive: {
                0: {
                    items: 1,
                    margin: 8,
                },
                320: {
                    items: 1,
                    margin: 8,
                },
                375: {
                    items: 1,
                    margin: 8,
                },
                768: {
                    items: 2,
                    margin: 8,
                },
                1024: {
                    items: 3,
                    margin: 16,

                },
                1366: {
                    items: 3,
                    margin: 16,

                },
                1440: {
                    items: 3,
                    margin: 16,
                },
            }

        });
    </script>

    <%- footer%>