<%- header%>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Documentos Etransporte</title>
        <meta name="description" content="Descrição da página" />
        <meta name="keywords" content="Descrição da página" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- ===================
                CSS 
         =================== -->
        <link
          rel="stylesheet"
          href="http://172.31.147.23/themes/wc_default/css/nutrigov/docs.css"
        />

        <!-- Fontes -->

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Nunito&family=Volkhov&display=swap"
          rel="stylesheet"
        />
        <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
        />
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
        />

        <!-- Materialize -->
        <link
          rel="stylesheet"
          href="http://172.31.147.23/themes/wc_default/assets/materialize/css/materialize.min.css"
          media="screen,projection"
        />
        <!-- carrossel -->
        <script src="http://172.31.147.23/themes/wc_default/js/jquery/jquery-3.6.0.min.js"></script>
        <!-- materialize -->
        <script
          type="text/javascript"
          src="http://172.31.147.23/themes/wc_default/assets/materialize/js/materialize.min.js"
        ></script>
      </head>

      <body>
        <div class="main_logo">
          <a href="nutrigov">
            <img
              style="width: 100%"
              alt="nutrigov"
              src="http://172.31.147.23/themes/wc_default/assets/img/nutrigov/logo/nutrigov_logo.svg"
            />">
          </a>
        </div>
        <div class="header">
          <div>
            <div class="title">
              <h2>Documentos</h2>
              <p>Encontre aqui todos os documentos</p>
            </div>
          </div>
        </div>
        <div class="docs_area">
          <div class="docs_list">
            <a
              target="_blank"
              href="http://172.31.147.23/uploads/files/lotagovrh/proposta.pdf"
            >
              <div class="list_item">
                <div class="item_picture">
                  <span class="material-symbols-outlined"> description </span>
                </div>
                <div class="item_text">
                  <p>Nome do arquivo</p>
                  <span class="material-symbols-outlined"> download </span>
                </div>
              </div>
            </a>

            <a
              target="_blank"
              href="http://172.31.147.23/uploads/files/lotagovrh/proposta.pdf"
            >
              <div class="list_item">
                <div class="item_picture">
                  <span class="material-symbols-outlined"> description </span>
                </div>
                <div class="item_text">
                  <p>Nome do arquivo</p>
                  <span class="material-symbols-outlined"> download </span>
                </div>
              </div>
            </a>

            <a
              target="_blank"
              href="http://172.31.147.23/uploads/files/lotagovrh/proposta.pdf"
            >
              <div class="list_item">
                <div class="item_picture">
                  <span class="material-symbols-outlined"> description </span>
                </div>
                <div class="item_text">
                  <p>Nome do arquivo</p>
                  <span class="material-symbols-outlined"> download </span>
                </div>
              </div>
            </a>

            <a
              target="_blank"
              href="http://172.31.147.23/uploads/files/lotagovrh/proposta.pdf"
            >
              <div class="list_item">
                <div class="item_picture">
                  <span class="material-symbols-outlined"> description </span>
                </div>
                <div class="item_text">
                  <p>Nome do arquivo</p>
                  <span class="material-symbols-outlined"> download </span>
                </div>
              </div>
            </a>

            <a
              target="_blank"
              href="http://172.31.147.23/uploads/files/lotagovrh/proposta.pdf"
            >
              <div class="list_item">
                <div class="item_picture">
                  <span class="material-symbols-outlined"> description </span>
                </div>
                <div class="item_text">
                  <p>Nome do arquivo</p>
                  <span class="material-symbols-outlined"> download </span>
                </div>
              </div>
            </a>

            <a
              target="_blank"
              href="http://172.31.147.23/uploads/files/lotagovrh/proposta.pdf"
            >
              <div class="list_item">
                <div class="item_picture">
                  <span class="material-symbols-outlined"> description </span>
                </div>
                <div class="item_text">
                  <p>Nome do arquivo</p>
                  <span class="material-symbols-outlined"> download </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </body>
      <script>
        $(window).on("load", function () {
          // Adicione a classe 'animated' ao elemento desejado
          $(".docs_list").addClass("active");
        });
      </script>
    </html>

<%- footer%>
