/* MAIN COLORS */


.background_1{
    background-color: var(--sys-background-light);
    color:var(--sys-on-background-light);
}

.background_2{
    background-color: var(--sys-background-medium);
    color: var(--sys-on-background-medium) !important;
}

.background_3{
    background-color: var(--sys-background-dark);
    color: var(--sys-on-background-dark) !important;
}

.background_4{
    background-color: var(--sys-background-darkest);
    color: var(--sys-on-background-darkest) !important;
}

.background_5 {
    background-color: var(--sys-background-accent);
    color: var(--sys-on-background-accent) !important;
}

.background_0 {
    background-color: var(--sys-background);
    color: var(--sys-on-background) !important;
}

.background_0_variant {
    background-color: var(--sys-background);
    color: var(--sys-secondary-dim) !important;
}

.background_0_variant_transparent {
    background-color: var(--sys-secondary-bright);
    color: var(--sys-secondary-dim) !important;
}

.form_color{
    color: var(--primary-color) !important;
}


.rh_badge_numeric_1{
    background-color: var(--background-marrom);
}

.rh_badge_numeric_2{
    background-color: var(--background-darkgreen)
}

