<%- header%>


    <body id="sangria">
        <div class="main_menu">
            <nav class="navbar-fixed">
                <div class="nav-wrapper">
    
                    <a style="color: black" href="inicio" data-target="mobile-demo" class="sidenav-trigger"><i
                            class="material-symbols-outlined">menu</i></a>
    
                    <div style="padding: 0 0 0 1.6rem">
                        <a href="#start" class="brand-logo">
                            <img alt="LotaGovRH"
                                src="/images/lotagovrh_logo.png">
                        </a>
                        <ul class="right hide-on-med-and-down">
    
                            <li><a class="nav-link" href="#start">Inicio</a></li>
                            <li><a class="nav-link" href="#recursos">Recursos</a></li>
                            <li><a class="nav-link" href="#sistemas_integrados">Sistemas Integrados</a></li>
                            <li><a class="nav-link" href="#planos_contratos">Preços</a></li>
                            <li><a class="nav-link" href="#suporte">Sobre</a></li>
                            <li><a class="waves-effect waves-light main_btn prim_btn"
                                    href="http://app.lotagovrh.com:8080/externo" target="_blank" targ><span>Login</span></a>
                            </li>
                        </ul>
                    </div>
    
                </div>
            </nav>
            <div>
    
                <ul id="mobile-demo" class="sidenav sidenav-close">
                    <li><a class="nav-link" href="#start">Inicio</a></li>
                    <li><a class="nav-link" href="#recursos">Recursos</a></li>
                    <li><a class="nav-link" href="#sistemas_integrados">Sistemas Integrados</a></li>
    
                    <li><a class="nav-link" href="#planos_contratos">Preços</a></li>
                    <li><a class="nav-link" href="#suporte">Suporte</a></li>
                </ul>
            </div>
        </div>
        <div class="main_content">
            <h1 style="display: none">Gestor RH</h1>
            <div style="display: none">
                <h1>Conheça o Gestor RG</h1>
            </div>
            <div class="background_4" style="display:none" class="titulo_none">
                <h1>Conheça o GEWEB</h1>
            </div>
            <div class="container breath">
    
    
                <div id="start" class="owl-carousel banner_carousel">
                    <div class="banner">
                        <div class="banner1">
                            <div class="esquerda">
                                <div class="high">
                                    <p class="seccondary_color">Alocar docentes e não docentes nunca foi tão fácil</p>
                                </div>
                                <div class="subtitle">
                                    <p class="seccondary_color">Transformamos uma tarefa complexa em um processo simples e
                                        prático, reduzindo tempo e esforço</p>
                                </div>
                            </div>
                            <div class="direita">
                                <img loading="lazy"
                                    src="/images/Prancheta_4.svg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="banner">
                        <div class="banner1">
                            <div class="esquerda">
                                <div class="high">
                                    <p class="seccondary_color">Controle total das cargas horárias de regência e
                                        horas-atividade</p>
                                </div>
                                <div class="subtitle">
                                    <p class="seccondary_color">Você define as horas de regência, nós cuidamos das
                                        horas-atividade</p>
                                </div>
                            </div>
                            <div class="direita"><img loading="lazy"
                                    src="/images/Prancheta_5.svg"
                                    alt=""></div>
                        </div>
                    </div>
                    <div class="banner">
                        <div class="banner1">
                            <div class="esquerda">
                                <div class="high">
                                    <p class="seccondary_color">Gerencie a quantidade de vagas, as restrições de cargos,
                                        habilitações e áreas de atuação</p>
                                </div>
                                <div class="subtitle">
                                    <p class="seccondary_color">Otimize a lotação de docentes e não docentes, direcionando
                                        os profissionais certos para as funções certas</p>
                                </div>
                            </div>
                            <div class="direita"><img loading="lazy"
                                    src="/images/Prancheta_7.svg"
                                    alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="recursos" class="background_1 arejamento active">
                <div class="container">
                    <div class="hero-card">
                        <div class="hero-card-left">
                            <div class="rh_badge">
                                <h2>Lotação</h2>
                            </div>
    
                            <div class="hero-card-item">
                                <div class="image-container">
                                    <img loading="lazy"
                                        src="/images/Prancheta_1.svg"
                                        alt="">
                                </div>
                            </div>
                        </div>
    
                        <div class="hero-card-right">
                            <div class="flex-grid">
                                <h3>POR QUE NOS ESCOLHER</h3>
                                <div class="highlight">
                                    <p>Frase chamativa para incentivar a pessoa a ler algumas das características da lotação
                                        do gestor RH</p>
                                </div>
    
                                <div class="grid">
                                    <div>
                                        <div class="numeric_title">
                                            <span class="rh_badge_numeric_1 negativo">01</span>
                                            <h4>Entidades</h4>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                    <div>
                                        <div class="numeric_title">
                                            <span class="rh_badge_numeric_1 negativo">02</span>
                                            <h4>Entidades</h4>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                    <div>
                                        <div class="numeric_title">
                                            <span class="rh_badge_numeric_1 negativo">03</span>
                                            <h4>Entidades</h4>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                    <div>
                                        <div class="numeric_title">
                                            <span class="rh_badge_numeric_1 negativo">04</span>
                                            <h4>Entidades</h4>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                                <div class="alignment-center">
                                    <a href="#planos">
                                        <button class="main_btn big_btn third_btn waves-effect waves-light">Ver
                                            planos</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="background_2 arejamento">
                    <div class="container">
                        <div class="hero-card">
                            <div class="hero-card-left">
                                <div class="rh_badge">
                                    <h2 class="">Cadastros</h2>
                                </div>
    
                                <div class="hero-card-item">
                                    <div class="image-container negative">
                                        <img loading="lazy"
                                            src="/images/Prancheta_2.svg"
                                            alt="">
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="hero-card-right">
                                <div class="flex-grid">
                                    <h3 class="">POR QUE NOS ESCOLHER</h3>
                                    <div class="highlight">
                                        <p>Frase chamativa para incentivar a pessoa a ler algumas das caracterísicas
                                            cadastrais do gestor RH</p>
                                    </div>
    
                                    <div class="grid">
                                        <div>
                                            <div class="numeric_title">
                                                <span class="rh_badge_numeric_2 negativo">01</span>
                                                <h4>Entidades</h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. </p>
                                        </div>
                                        <div>
                                            <div class="numeric_title">
                                                <span class="rh_badge_numeric_2 negativo">02</span>
                                                <h4>Entidades</h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. </p>
                                        </div>
                                        <div>
                                            <div class="numeric_title">
                                                <span class="rh_badge_numeric_2 negativo">03</span>
                                                <h4>Entidades</h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. </p>
                                        </div>
                                        <div>
                                            <div class="numeric_title">
                                                <span class="rh_badge_numeric_2 negativo">04</span>
                                                <h4>Entidades</h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. </p>
                                        </div>
                                    </div>
    
                                    <div class="alignment-center">
                                        <a href="#planos">
                                            <button class="main_btn big_btn prim_btn waves-effect waves-light">Ver
                                                planos</button>
                                        </a>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <div id="sistemas_integrados"><br></div>
    
            <section>
                <div class="container  background_1 arejamento">
    
                    <div class="title">
                        <h2>Sistemas Integrados</h2>
                        <div class="highlight">
                            <p>Para uma gestão integrada e mais eficiente, contamos com diversos parceiros que compartilham
                                informações com nosso sistema por meio das nossas APIs. </p>
                        </div>
                    </div>
                    <div class="carrossel">
                        <div class="owl-carousel style1">
                            <div class="card-carrossel">
                                <img loading="lazy"
                                    src="/images/geweb_min.svg"
                                    alt="">
                            </div>
                            <div class="card-carrossel">
                                <img loading="lazy"
                                    src="/images/comprasgov_min.svg"
                                    alt="">
                            </div>
                            <div class="card-carrossel">
                                <img loading="lazy"
                                    src="/images/avaliaedu_min.svg"
                                    alt="">
                            </div>
                        </div>
                    </div>
    
    
                </div>
            </section>
    
            <div id="planos_contratos"></div>
    
            <article id="planos" class="background_2 arejamento">
                <div class="container">
    
                    <div class="title negativo">
                        <h2>PRINCIPAIS PLANOS</h2>
                        <div class="highlight negativo">
                            <p>Escolha o Plano que mais se adequa a sua necessidade</p>
                        </div>
                    </div>
                    <div class="row negativo planos">
                        <!-- Plano 1 -->
                        <div class="item">
                            <h3>Nome do Plano</h3>
                            <p>Chamariz</p>
                            <div class="highlight negativo">
                                <p>R$ 39,999 Mil</p>
                            </div>
    
                            <p>Recurso 1</p>
                            <p>Recurso 2</p>
                            <p>Recurso 3</p>
                            <p>Recurso 4</p>
    
                            <a href="lotagovrh-form/1" target="_blank">
                                <button
                                    class="main_btn big_btn prim_btn negative waves-effect waves-light">Inscrever-se</button>
                            </a>
                        </div>
    
                        <!-- Plano 2 -->
                        <div class="item">
                            <h3>Nome do Plano</h3>
                            <p>Chamariz</p>
                            <div class="highlight negativo">
                                <p>R$ 39,999 Mil</p>
                            </div>
    
                            <p>Recurso 1</p>
                            <p>Recurso 2</p>
                            <p>Recurso 3</p>
                            <p>Recurso 4</p>
    
                            <a href="lotagovrh-form/2" target="_blank">
                                <button
                                    class="main_btn big_btn prim_btn negative waves-effect waves-light">Inscrever-se</button>
                            </a>
                        </div>
    
                        <!-- Plano 3 -->
                        <div class="item">
                            <h3>Nome do Plano</h3>
                            <p>Chamariz</p>
                            <div class="highlight negativo">
                                <p>R$ 39,999 Mil</p>
                            </div>
    
                            <p>Recurso 1</p>
                            <p>Recurso 2</p>
                            <p>Recurso 3</p>
                            <p>Recurso 4</p>
    
                            <a href="lotagovrh-form/3" target="_blank">
                                <button
                                    class="main_btn big_btn prim_btn negative waves-effect waves-light">Inscrever-se</button>
                            </a>
                        </div>
    
                        <!-- Plano 4 -->
                        <div class="item">
                            <h3>Nome do Plano</h3>
                            <p>Chamariz</p>
                            <div class="highlight negativo">
                                <p>R$ 39,999 Mil</p>
                            </div>
    
                            <p>Recurso 1</p>
                            <p>Recurso 2</p>
                            <p>Recurso 3</p>
                            <p>Recurso 4</p>
    
                            <a href="lotagovrh-form/4" target="_blank">
                                <button
                                    class="main_btn big_btn prim_btn negative waves-effect waves-light">Inscrever-se</button>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="title">
                            <a href="lotagovrh-docs">
                                <button class="main_btn big_btn prim_btn waves-effect waves-light">Certidões</button>
                            </a>
                        </div>
                    </div>
    
    
    
                </div>
            </article>
    
            <article id="suporte" class="container background_3 arejamento">
                <div class="faq">
                    <div class="title">
                        <h2><span>Perguntas</span></h2>
                        <p>Veja aqui as principais perguntas</p>
                    </div>
    
    
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 1</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet mauris.
                                    Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas ullamcorper
                                    vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed magna
                                    ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque nec enim
                                    libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 2</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet mauris.
                                    Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas ullamcorper
                                    vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed magna
                                    ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque nec enim
                                    libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 3</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet mauris.
                                    Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas ullamcorper
                                    vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed magna
                                    ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque nec enim
                                    libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 4</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet mauris.
                                    Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas ullamcorper
                                    vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed magna
                                    ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque nec enim
                                    libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header geweb_positive_color">Pergunta 5</div>
                            <div class="collapsible-body geweb_positive_color"><span>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet mauris.
                                    Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas ullamcorper
                                    vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                    faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed magna
                                    ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque nec enim
                                    libero. Mauris malesuada in magna eu pretium.</span></div>
                        </li>
    
                    </ul>
    
                    
    
                    
                    <div class="title">
                        <p class="geweb_positive_color subtitle">Você tem alguma dúvida sobre nossos serviços ou gostaria de
                            ser um de nossos representantes?</p>
                        <button class="main_btn big_btn prim_btn negativo waves-effect waves-light">Fale conosco</button>
                    </div>
    
                </div>
            </article>
    
        </div>
    
        <div class="rodape" id="cookie-banner">
            <p>Esta página web utiliza cookis para aprimorar sua experiência. Clique em aceitar para permitir a ativação
                destes elementos.</p>
            <div style="display: flex; gap: 16px">
                <button id="cookie-banner-btn">Aceitar</button>
            </div>
        </div>
    </body>


    <%- footer%>