<footer>

</footer>

</body>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();

        $(".style1").owlCarousel({
            items: 1,
            loop: true,
            dots: true,

        });

        $(".style100").owlCarousel({
            autoplay: true,
            nav: false,
            mouseDrag: true,
            autoplayHoverPause: true,
            loop: true,
            dots: true,
            responsive: {
                0: {
                    items: 1,
                    margin: 8,
                },
                320: {
                    items: 1,
                    margin: 8,
                },
                375: {
                    items: 1,
                    margin: 8,
                },
                768: {
                    items: 3,
                    margin: 8,
                },
                1024: {
                    items: 3,
                    margin: 16,
                },
                1440: {
                    items: 3,
                    margin: 16,
                },
                1600: {
                    items: 4,
                    margin: 16,
                },
            },
        });
    });
</script>

</html>