.header {
    background-color: var(--primary-color);
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header img {
    width: 400px;
    height: 100%;
}

@media(max-width: 600px) {
    .header img {
        width: 60vw;
        height: 100%;
    }
}

.docs_area {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: white;
    padding: 16px;
    height: 100dvh;
    margin: 20px;
    border-radius: 16px;
    overflow: auto;
}

.docs_area .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    padding: 16px;
}

.docs_area .title h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
}

.docs_area .title p {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0px;
}

.docs_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

@media(min-width: 1025px) and (max-width: 1600px) {
    .docs_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

@media(min-width: 601px) and (max-width: 1024px) {
    .docs_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
    }
}

@media(max-width: 600px) {
    .docs_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
    }
}

.docs_list .list_item {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    min-height: 20vh;
    width: 1fr;
    background-color: var(--accent-color);
    transition: all .2s ease-in-out;
}

.docs_list .list_item:hover {
    scale: 1.02;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.list_item .item_picture {
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 20px;
    height: 14vh !important;
}

.list_item .item_picture span {
    font-size: 8.0rem;
    color: white;
    transform: rotate(45deg);
    font-weight: 700;
    opacity: 0.8;

}

.list_item .item_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    color: var(--primary-color);
    flex-grow: 1;
}

.list_item .item_text p {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0px;
}