<%- header%>

    <section id="bannerConnectDesk">
        <div class="bannerCanvas">
            <div class="motionBanner">
                <div class="flex items-center justify-center w-full h-full">
                    <div class="enterModal absolute flex flex-col items-center justify-center opacity-0 enterBackground w-[60%] aspect-[16/9] rounded-3xl bg-center bg-no-repeat bg-contain z-10 shadow-2xl">
                        <div class="flex flex-col gap-4 items-center">
                            <span class="text-[32px]">Veja o que o ConnectDesk pode fazer por...</span>
                            <span class="text-[64px]">Você</span>
                            <span class="commonButton primary">Comece Agora!</span>
                        </div>
                    </div>
                    <div class="enterBackground absolute opacity-0 w-[80%] aspect-[21/9] rounded-3xl bg-center bg-no-repeat bg-contain" style="background-image: url('<%= resposta.banner.imageUrl %>');"></div>
                    <span class="resizeDownWhileScroll text-[64px]">Conheça o Connect Desk</span>                
                </div>
            </div>
        </div>
    </section>

    <section id="problemsThatWeSolute">
        <div class="relative h-[80dvh] bg-blue-400 w-full z-10"></div>
    </section>

    <section id="problemsThatWeSolute">
        <div class="relative h-[80dvh] bg-purple-400 w-full z-10"></div>
    </section>

<%- footer%>