@import './styles/tailwind.css';
html {
  color-scheme: light;
  --color-scheme: light;
  --mat-sys-background: hsl(0, 0%, 100%);
  --mat-sys-on-background: #1f1f1f;
  --mat-sys-background-dim: #bcbcbc;
  --mat-sys-background-bright: #ffffff;
  --mat-sys-background-translucent: #f2f2f231;
  --mat-sys-background-on-translucent: #1f1f1f2f;
  --mat-sys-primary: #096F77;
  --mat-sys-primary-dim: #9BC5C8;
  --mat-sys-primary-bright: #E1FDF8;
  --mat-sys-primary-bright-variant: #F0F6F7;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-on-primary-dim: #565656;
  --mat-sys-on-primary-bright: #113638;
  --mat-sys-secondary: #113638;
  --mat-sys-secondary-dim: #0c2729;
  --mat-sys-secondary-bright: #164548;
  --mat-sys-on-secondary: #ffffff;
  --mat-sys-on-secondary-dim: #ffffff;
  --mat-sys-on-secondary-bright: #8BF0F7;
  --mat-sys-tertiary: #8BF0F7;
  --mat-sys-tertiary-dim: #8DC3B9;
  --mat-sys-tertiary-bright: #C7FFE9;
  --mat-sys-on-tertiary: #113638;
  --mat-sys-on-tertiary-dim: #565656;
  --mat-sys-on-tertiary-bright: #1f1f1f;
  --mat-sys-error: #cc3300;
  --mat-sys-on-error: #ffffff;
  --mat-sys-error-dim: #661900;
  --mat-sys-error-bright: #e63900;
  --mat-sys-surface: #9BC5C8;
  --mat-sys-surface-dim: #8DC3B9;
  --mat-sys-surface-bright: #8BF0F7;
  --mat-sys-on-surface: var(--mat-sys-secondary);
  --mat-sys-complementar: #FFEADF;
  --mat-sys-on-complementar: #916a55;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --color-scheme: dark;
    --mat-sys-background: #1f1f1f;
    --mat-sys-on-background: #f2f2f2;
    --mat-sys-background-dim: #0d0d0d;
    --mat-sys-background-bright: #313131;
    --mat-sys-background-translucent: #32323231;
    --mat-sys-background-on-translucent: #ffffff2f;
    --mat-sys-primary: #096F77;
    --mat-sys-primary-dim: #9BC5C8;
    --mat-sys-primary-bright: #a2b6b2;
    --mat-sys-primary-bright-variant: #2b302f;
    --mat-sys-on-primary: #ffffff;
    --mat-sys-on-primary-dim: #565656;
    --mat-sys-on-primary-bright: #113638;
    --mat-sys-secondary: #184d50;
    --mat-sys-secondary-dim: #0c2729;
    --mat-sys-secondary-bright: #164548;
    --mat-sys-on-secondary: #ffffff;
    --mat-sys-on-secondary-dim: #ffffff;
    --mat-sys-on-secondary-bright: #8BF0F7;
    --mat-sys-tertiary: #8BF0F7;
    --mat-sys-tertiary-dim: #8DC3B9;
    --mat-sys-tertiary-bright: #C7FFE9;
    --mat-sys-on-tertiary: #1f1f1f;
    --mat-sys-on-tertiary-dim: #565656;
    --mat-sys-on-tertiary-bright: #1f1f1f;
    --mat-sys-error: #cc3300;
    --mat-sys-on-error: #ffffff;
    --mat-sys-error-dim: #661900;
    --mat-sys-error-bright: #e63900;
    --mat-sys-surface: hsl(184, 29%, 20%);
    --mat-sys-surface-dim: hsl(169, 31%, 36%);
    --mat-sys-surface-bright: hsl(184, 87%, 56%);
    --mat-sys-on-surface: #ffffff;
  }
}
.high-contrast {
  color-scheme: dark;
  --mat-sys-background: #000000;
  --mat-sys-on-background: #ffff00;
  --mat-sys-background-dim: #757575;
  --mat-sys-background-bright: #ffffff;
  --mat-sys-primary: #00ff00;
  --mat-sys-on-primary: #000000;
  --mat-sys-dim: #00cc00;
  --mat-sys-bright: #33ff33;
  --mat-sys-secondary: #ff00ff;
  --mat-sys-on-secondary: #000000;
  --mat-sys-secondary-dim: #cc00cc;
  --mat-sys-secondary-bright: #ff33ff;
  --mat-sys-tertiary: #00ffff;
  --mat-sys-on-tertiary: #000000;
  --mat-sys-tertiary-dim: #00cccc;
  --mat-sys-tertiary-bright: #33ffff;
  --mat-sys-error: #ff0000;
  --mat-sys-on-error: #ffffff;
  --mat-sys-error-dim: #cc0000;
  --mat-sys-error-bright: #ff3333;
  --mat-sys-surface: #000000;
  --mat-sys-on-surface: #ffff00;
  --mat-sys-surface-dim: #7f7f7f;
  --mat-sys-surface-bright: #ffffff;
}

:root {
  --main-curve: 1rem;
  --main-padding: 1rem;
  --main-gap: 1rem;
  --double-padding: 2rem;
  --double-gap: 2rem;
  --main-border: 1px solid var(--mat-sys-secondary);
  --secondary-border: 1px solid var(--mat-sys-background-on-translucent);
  --main-transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
  --default-scale: 1.05;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}
body .material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

h1,
.highlight {
  font-size: clamp(2rem, 10vw, 3.5rem);
  font-weight: 600;
  margin: 0;
}

h2,
.subtitle {
  font-size: clamp(2rem, 10vw, 3.5rem);
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

h5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0;
}

h6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
}

.commonButton {
  width: max-content;
  padding: 4px var(--main-padding);
  border-radius: var(--main-curve);
  min-height: 48px;
  display: flex;
  align-items: center;
  transition: var(--main-transition);
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}
.commonButton.transparent {
  background-color: transparent;
}
.commonButton.primary {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}
.commonButton.secondary {
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
}
.commonButton.tertiary {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
}
.commonButton.primary:active::after, .commonButton.secondary:active::after, .commonButton.tertiary:active::after {
  background-color: var(--mat-sys-surface-bright);
}
.commonButton.overPrimary {
  background-color: var(--mat-sys-on-primary);
  color: var(--mat-sys-primary);
}
.commonButton.overPrimary:active::after {
  background-color: var(--mat-sys-primary-bright);
}
.commonButton.overSecondary {
  background-color: var(--mat-sys-on-secondary);
  color: var(--mat-sys-secondary);
}
.commonButton.overSecondary:active::after {
  background-color: var(--mat-sys-secconday-bright);
}
.commonButton.overTertiary {
  background-color: var(--mat-sys-on-tertiary);
  color: var(--mat-sys-tertiary);
}
.commonButton.overTertiary:active::after {
  background-color: var(--mat-sys-tertiary-bright);
}
.commonButton.transparent:hover, .commonButton.primary:hover, .commonButton.secondary:hover, .commonButton.tertiary:hover, .commonButton.overPrimary:hover, .commonButton.overSecondary:hover, .commonButton.overTertiary:hover {
  transform: scale(var(--default-scale));
}
.commonButton.transparent:hover:before, .commonButton.primary:hover:before, .commonButton.secondary:hover:before, .commonButton.tertiary:hover:before, .commonButton.overPrimary:hover:before, .commonButton.overSecondary:hover:before, .commonButton.overTertiary:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--main-curve);
  background-color: rgba(0, 0, 0, 0.2);
  mix-blend-mode: overlay;
  transition: var(--main-transition);
  animation: scaleSides 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@keyframes scaleSides {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
.commonButton.transparent:active, .commonButton.primary:active, .commonButton.secondary:active, .commonButton.tertiary:active, .commonButton.overPrimary:active, .commonButton.overSecondary:active, .commonButton.overTertiary:active {
  position: relative;
  transform: translateY(4px);
}
.commonButton.transparent:active::after, .commonButton.primary:active::after, .commonButton.secondary:active::after, .commonButton.tertiary:active::after, .commonButton.overPrimary:active::after, .commonButton.overSecondary:active::after, .commonButton.overTertiary:active::after {
  content: "";
  position: absolute;
  transform-origin: center;
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: grow 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  opacity: 0.2;
}
@keyframes grow {
  from {
    scale: 0;
  }
  to {
    scale: 1.5;
  }
}

.iconButton {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  user-select: none;
  transition: var(--main-transition);
  overflow: hidden;
  position: relative;
}
.iconButton.transparent {
  background-color: transparent;
}
.iconButton.primary {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}
.iconButton.secondary {
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
}
.iconButton.tertiary {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
}
.iconButton.primary:active::after, .iconButton.secondary:active::after, .iconButton.tertiary:active::after {
  background-color: var(--mat-sys-surface-bright);
}
.iconButton.overPrimary {
  background-color: var(--mat-sys-on-primary);
  color: var(--mat-sys-primary);
}
.iconButton.overPrimary:active::after {
  background-color: var(--mat-sys-primary-bright);
}
.iconButton.overSecondary {
  background-color: var(--mat-sys-on-secondary);
  color: var(--mat-sys-secondary);
}
.iconButton.overSecondary:active::after {
  background-color: var(--mat-sys-secconday-bright);
}
.iconButton.overTertiary {
  background-color: var(--mat-sys-on-tertiary);
  color: var(--mat-sys-tertiary);
}
.iconButton.overTertiary:active::after {
  background-color: var(--mat-sys-tertiary-bright);
}
.iconButton.transparent:hover, .iconButton.primary:hover, .iconButton.secondary:hover, .iconButton.tertiary:hover, .iconButton.overPrimary:hover, .iconButton.overSecondary:hover, .iconButton.overTertiary:hover {
  transform: scale(var(--default-scale));
}
.iconButton.transparent:hover:before, .iconButton.primary:hover:before, .iconButton.secondary:hover:before, .iconButton.tertiary:hover:before, .iconButton.overPrimary:hover:before, .iconButton.overSecondary:hover:before, .iconButton.overTertiary:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--main-curve);
  background-color: rgba(0, 0, 0, 0.2);
  mix-blend-mode: overlay;
  transition: var(--main-transition);
  animation: scaleSides 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@keyframes scaleSides {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.iconButton.transparent:active, .iconButton.primary:active, .iconButton.secondary:active, .iconButton.tertiary:active, .iconButton.overPrimary:active, .iconButton.overSecondary:active, .iconButton.overTertiary:active {
  position: relative;
  transform: translateY(4px);
}
.iconButton.transparent:active::after, .iconButton.primary:active::after, .iconButton.secondary:active::after, .iconButton.tertiary:active::after, .iconButton.overPrimary:active::after, .iconButton.overSecondary:active::after, .iconButton.overTertiary:active::after {
  content: "";
  position: absolute;
  transform-origin: center;
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: grow 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  opacity: 0.2;
}
@keyframes grow {
  from {
    scale: 0;
  }
  to {
    scale: 1.5;
  }
}

.commonCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--main-curve);
  transition: var(--main-transition);
}
.commonCard.small {
  min-height: 64px;
}
.commonCard.medium {
  min-height: 128px;
}
.commonCard.big {
  min-height: 200px;
}
.commonCard.large {
  min-height: 320px;
}
.commonCard.instagram {
  background: linear-gradient(45deg, oklch(54% 0.21 269deg), oklch(53% 0.2 279deg), oklch(50% 0.19 308.56deg), oklch(56% 0.19 350.4deg), oklch(60% 0.21 6.78deg), oklch(63% 0.25 28.28deg));
}
.commonCard.facebook {
  background: linear-gradient(180deg, oklch(56% 0.2 257.25deg), oklch(47% 0.23 268.89deg));
}
.commonCard.neutral {
  background-color: var(--mat-sys-surface-dim);
  color: var(--mat-sys-on-surface);
}
.commonCard.primary {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}
.commonCard.secondary {
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
}
.commonCard.tertiary {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
}
.commonCard.error {
  background-color: var(--mat-sys-error);
  color: var(--mat-sys-on-error);
}
.commonCard.pointable {
  cursor: pointer;
  user-select: none;
}
.commonCard.pointable:active {
  position: relative;
  transform: translateY(4px);
  overflow: hidden;
}
.commonCard.pointable:active::after {
  content: "";
  position: absolute;
  transform-origin: center;
  border-radius: 9999px;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: grow 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  opacity: 0.2;
  background-color: var(--mat-sys-surface-bright);
}
.commonCard:hover {
  transform: scale(var(--default-scale));
}

.search {
  background-color: var(--mat-sys-surface);
  overflow: hidden;
  border-radius: var(--main-curve);
  box-shadow: 5px 5px 5px var(--mat-sys-background-on-translucent), -5px -5px 5px var(--mat-sys-background-translucent);
}
.search.on-sys-surface {
  background-color: var(--mat-sys-background-bright);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--mat-sys-on-surface);
  position: relative;
  overflow: hidden;
}
.title:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--mat-sys-surface);
  top: 0;
  left: 0;
  position: absolute;
  transform-origin: right;
  animation: reveal 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-delay: 0.6s;
}
@keyframes reveal {
  0% {
    transform: translateX(0);
  }
  98% {
    transform: translateX(100%);
    opacity: 100%;
  }
  100% {
    transform: translateX(100%);
    opacity: 0%;
  }
}

.divider {
  height: 8px;
  width: 100%;
}

.mat-menu {
  position: fixed;
  flex-direction: column;
  top: 0;
  left: calc(-300px - 0.8rem);
  height: 100%;
  padding: 1rem;
  margin: 0.8rem;
  box-sizing: border-box;
  width: 300px;
  border-radius: 2rem;
  z-index: 50;
  background-color: var(--mat-sys-surface);
  max-height: calc(100% - 24px);
  transition: var(--main-transition);
}
.mat-menu.show {
  transform: translateX(calc(300px + 0.8rem));
  box-shadow: 5px 5px 5px var(--mat-sys-background-on-translucent), -5px -5px 5px var(--mat-sys-background-translucent);
}
.mat-menu .mat-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--main-gap) / 2);
}
.mat-menu .mat-menu-content li {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: var(--main-transition);
  overflow: hidden;
  border-radius: var(--main-curve);
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.mat-menu .mat-menu-content li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.mat-menu .mat-menu-content li:active {
  background-color: rgba(255, 255, 255, 0.4);
}
.mat-menu .mat-menu-content li:active::after {
  content: "";
  background-color: var(--mat-sys-primary-bright);
  position: absolute;
  transform-origin: center;
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: grow 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  opacity: 0.2;
  filter: blur(20px);
}

.backdrop {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: 40;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: var(--main-transition);
}

body:has(.mat-menu.show) .backdrop {
  opacity: 1;
  pointer-events: all;
}

.cardAdvantages {
  width: 100%;
  border-radius: calc(1.6 * var(--main-curve));
  background-color: var(--mat-sys-primary-bright);
  opacity: 0;
  transition: var(--main-transition);
  border: 1px solid var(--mat-sys-primary-dim);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--mat-sys-on-primary-bright);
}
@media (max-width: 640px) {
  .cardAdvantages {
    max-width: 80dvw;
  }
}

.hoverCard {
  position: relative;
  z-index: 0 !important;
  transition: var(--main-transition);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.37);
}
.hoverCard:hover {
  position: relative;
  scale: 1.1;
  z-index: 10 !important;
  box-shadow: 1px 9px 15px 1px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 1px 9px 15px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 1px 9px 15px 1px rgba(0, 0, 0, 0.37);
}

.titleAdvantages {
  text-align: center;
  width: 100%;
  opacity: 0;
}

#innerBody {
  overflow-y: scroll;
  height: 100dvh;
  scroll-timeline-name: --innerView;
  position: relative;
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 20% 80%, transparent);
}
.slider:hover .item {
  animation-play-state: paused !important;
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  transition: var(--main-transition);
  animation: autorun 10s linear infinite;
  animation-delay: calc(10s / var(--quantity) * (var(--position) - 1));
  transform: scale(1);
}
@media (prefers-color-scheme: light) {
  .slider.themed-light .list {
    filter: invert(1);
  }
}

@keyframes autorun {
  0% {
    left: 100%;
  }
  100% {
    left: calc(var(--width) * -1);
  }
}
.flex-row-scroll {
  --padding-scroll-new: 16px;
  --height-max: 460px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
  align-items: center;
  height: calc(var(--height-max) + 3rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  scroll-snap-type: x mandatory;
}
.flex-row-scroll .item {
  position: relative;
  min-width: calc(var(--height-max) - 100px);
  min-height: var(--height-max);
  padding: var(--padding-scroll-new);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  transition: all 0.2s;
  overflow: hidden;
  z-index: 10;
}
@media (max-width: 640px) {
  .flex-row-scroll .item {
    min-width: 80dvw;
    min-height: var(--height-max);
  }
}
.flex-row-scroll .item:hover {
  transform: scale(1.08);
}
.flex-row-scroll .item:hover .background {
  filter: blur(10px) saturate(0.4);
}
.flex-row-scroll .item:hover .content {
  transform: translateY(0%);
}
.flex-row-scroll .item .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  transition: all 0.2s;
  z-index: 1;
}
.flex-row-scroll .item .content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: var(--padding-scroll-new);
  padding-left: var(--padding-scroll-new);
  padding-bottom: var(--padding-scroll-new);
  padding-right: calc(var(--padding-scroll-new) * 0.66);
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: var(--main-transition);
  overflow-y: scroll;
  z-index: 10;
  background-image: linear-gradient(180deg, transparent, var(--mat-sys-tertiary));
}
@media (prefers-color-scheme: dark) {
  .flex-row-scroll .item .content {
    background-image: linear-gradient(180deg, transparent, var(--mat-sys-secondary));
  }
}
.flex-row-scroll .item .content::-webkit-scrollbar {
  width: calc(var(--padding-scroll-new) * 0.33);
}
.flex-row-scroll .item .content::-webkit-scrollbar-track {
  background: transparent;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.flex-row-scroll .item .content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.flex-row-scroll .item .content::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
.flex-row-scroll .item.large {
  min-width: calc(var(--height-max) * 1.5 - 100px);
  min-height: var(--height-max);
}
@media (max-width: 640px) {
  .flex-row-scroll .item.large {
    min-width: 90dvw;
    min-height: var(--height-max);
  }
}
.flex-row-scroll .item.large:hover {
  transform: scale(1.05);
}
.flex-row-scroll::-webkit-scrollbar {
  height: calc(var(--padding-scroll-new) * 0.33);
}
.flex-row-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin-left: calc(260px + 1rem);
  margin-right: calc(260px + 1rem);
}
@media (max-width: 640px) {
  .flex-row-scroll::-webkit-scrollbar-track {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.flex-row-scroll::-webkit-scrollbar-thumb {
  background: var(--mat-sys-primary);
  border-radius: 8px;
}
.flex-row-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-tertiary);
}

.bannerCanvas {
  --heightCanvas: 180dvh;
  position: relative;
  height: var(--heightCanvas);
  width: 100%;
  background-color: var(--mat-sys-background);
}
.bannerCanvas .motionBanner {
  position: absolute;
  width: 100%;
  height: calc(var(--heightCanvas) / 2);
  background-color: var(--mat-sys-background);
  pointer-events: none;
  animation: slideDown 2s linear forwards;
  animation-timeline: --innerView;
  animation-range: 0vh cover var(--heightCanvas);
  overflow: hidden;
  color: var(--mat-sys-on-background);
}
.bannerCanvas .motionBanner .resizeDownWhileScroll {
  animation: scaleDown 2s linear forwards;
  animation-timeline: --innerView;
  animation-range: 0vh cover calc(var(--heightCanvas) * 0.3);
}
.bannerCanvas .motionBanner .enterBackground {
  animation: enterBackground 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-timeline: --innerView;
  animation-range: calc(var(--heightCanvas) * 0.1) cover calc(var(--heightCanvas) * 0.4);
}
.bannerCanvas .motionBanner .enterModal {
  min-width: 768px;
  animation: enterModal 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-timeline: --innerView;
  animation-range: calc(var(--heightCanvas) * 0.3) cover calc(var(--heightCanvas) * 0.4);
}
@keyframes scaleDown {
  0% {
    transform: scale(50);
  }
  50% {
    transform: scale(1.2) translateY(0%);
  }
  100% {
    transform: scale(1) translateY(-300%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0dvh);
  }
  100% {
    transform: translateY(var(--heightCanvas));
  }
}
@keyframes enterBackground {
  0% {
    transform: scale(0) translateY(0%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(10%);
    opacity: 1;
  }
}
@keyframes enterModal {
  0% {
    transform: translateY(100%);
    opacity: 0;
    backdrop-filter: blur(24px);
  }
  100% {
    transform: translateY(10%);
    opacity: 1;
    backdrop-filter: blur(48px);
  }
}

/*# sourceMappingURL=style.css.map */
