body {
    background-color: #f5f5f7;
}

.banner_geweb {
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
}

.banner_geweb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.desapear_l {
    display: block;
}

.desapear_m {
    display: none;
}

.desapear_s {
    display: none;
}

@media (max-width: 1439px) {
    .banner_geweb {
        width: 100%;
        height: 80vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        image-rendering: crisp-edges;
    }

    .banner_geweb .desapear_l {
        display: none;
    }

    .banner_geweb .desapear_m {
        display: block;
    }

    .banner_geweb .desapear_s {
        display: none;
    }

}

@media (max-width: 767px) {
    .banner_geweb {
        width: 100%;
        height: auto;
        background-position: center;
        background-size: fill;
        background-repeat: no-repeat;
        image-rendering: crisp-edges;
    }

    .banner_geweb .desapear_l {
        display: none;
    }

    .banner_geweb .desapear_m {
        display: none;
    }

    .banner_geweb .desapear_s {
        display: block;
    }
}



/*  =====================
           desfoques
    =====================*/

    .background-4::before {
    background-image: url("../../assets/img/geweb/backgrounds/defocus/defocus_1.png") !important;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--curve);
    filter: brightness(90%);
}

@media(max-width: 427px){
    .background-4:before{
        height: calc(100% - 36px);
        width: 100%;
    }
}

.background-3::before {
    background-image: url("../../assets/img/geweb/backgrounds/defocus/defocus_2.png");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--curve);
    filter: brightness(100%);
}

@media(max-width: 427px){
    .background-3:before{
        height: calc(100% - 36px);
        width: 100%;
    }
}


.background-2::before {
    background-image: url("../../assets/img/geweb/backgrounds/defocus/defocus_3.png");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--curve);
    filter: brightness(100%);
}

@media(max-width: 427px){
    .background-2:before{
        height: calc(100% - 36px);
        width: 100%;
    }
}


.background-1::before {
    background-image: url("../../assets/img/geweb/backgrounds/defocus/defocus_4.png");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--curve);
    filter: brightness(100%);
}

@media(max-width: 427px){
    .background-1:before{
        height: calc(100% - 36px);
        width: 100%;
    }
}


@media (max-width: 991px) {
    .banner_academico {
        width: 100vw;
        height: 100vh;
        background-image: url("../../assets/img/Banner/academico_retrato.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .banner_almoxarifado {
        width: 100vw;
        height: 100vh;
        background-image: url("../../assets/img/Banner/almoxarifado_retrato.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}