/* MAIN COLORS */

.geweb_primary_color {
    color: var(--primary-color)
}

.geweb_seccondary_color {
    color: var(--secondary-color)
}

.geweb_positive_color {
    color: var(--positive-color)
}

/* ========================================
                     HUE 
===========================================*/


/* Neutral */
.solid_neutral.active {
    background-color: white;
}

/* Purple */
.solid_purple {
    background-color: white;
    color: #9591BE;
}

.solid_purple:hover {
    background-color: #9591BE;
    color: white
}

.solid_purple.active {
    background-color: #9591BE;
    color: white
}

.solid_purple.reverse {
    background-color: #9591BE;
    color: white !important;
    transition: all .2s ease-in-out;
}

.solid_purple.reverse:hover {
    background-color: #b3b0d3;
    color: white !important;
    transition: all .2s ease-in-out;
}

.solid_purple.scale:hover {
    transform: scale(1.02);
    transition: all .25s ease-in-out;
}

.purple_text{
    color: #9591BE;
}

.purple_text.reverse{
    color: white;
}

.orange_text{
    color: #C58D4B;
}

.orange_text.reverse{
    color: white;
}

.green_text{
    color: #6D8A61;
}

.green_text.reverse{
    color: white;
}



/* Verde */
.solid_green {
    background-color: white !important;
    color: #6D8A61 !important;
    color: rgba(0, 0, 0, 0.6);
}

.solid_green.active.reverse{
    background-color: #efefef !important;
    color: #6D8A61 !important
}

.solid_green:hover {
    background-color: #CDE1C6 !important;
    color: #6D8A61 !important
}

.solid_green.active {
    background-color: #CDE1C6 !important;
    color: #6D8A61 !important
}

.solid_green.reverse {
    background-color: #6D8A61 !important;
    color: #6D8A61 !important
}



/* Orange */
.solid_orange {
    background-color: white;

}

.solid_orange:hover {
    background-color: #F5D3AA;
    color: #C58D4B;
}

.solid_orange.active {
    background-color: #F5D3AA;
    color: #C58D4B;
}


.solid_orange.reverse {
    background: #C58D4B;
    color: white;
}

.solid_orange.reverse:hover {
    background: #F5D3AA;
    color: #C58D4B;
}


body.revenda1{
    --primary-color: #9591BE;
    --secondary-color: #8DAA82;
    --accent-color: #C58D4B;
    --warn-color:  #ef4444;
    --positive-color: white;
    --page-background: #f5f5f5;
}


