:root {
    --primary-color: #9591BE;
    --secondary-color: #8DAA82;
    --positive-color: white;
    --set-color-orange: #C58D4B;
    --set-color-purple: #9591BE;
    --set-color-green: #6D8A61;
    --page-background: #f5f5f5;
    --warn-color: #9591BE !important;
    --curve: 16px !important;

}

:focus {
    outline: none;
    border: none;
}


.primary-color {
    color: var(--primary-color) !important;
}

.seccondary-color {
    color: var(--secondary-color);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* Largura da barra de rolagem */
    background-color: transparent;
    /* Cor de fundo transparente */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Cor da barra de rolagem */
}

/* Para navegadores Firefox */
::-moz-scrollbar {
    width: 5px;
    /* Largura da barra de rolagem */
    background-color: transparent;
    /* Cor de fundo transparente */
}

::-moz-scrollbar-thumb {
    background-color: #888;
    /* Cor da barra de rolagem */
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--page-background) !important;
    width: 100%;
    height: 100dvh !important;
    overflow: hidden;
    
}

.main_menu {
    position: relative;
    display: block;
    background-color: var(--page-background);
    z-index: 2 !important;
    width: 100%;
    height: 64px;
}

.main_content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
    scroll-behavior: smooth;
    position: relative;
    display: block;
    z-index: 0 !important;
    height: 100%;
}

.main_content .space_hidden{
    height: 64px;
    width: 100%;
    display: block;
    position: relative 
}



@media (max-width: 600px) {
    .main_menu {
        height: 48px;
        top: 0px;
    }
    .main_content {
        height: calc(100% - 48px);
        top: 48px;
        overflow: auto;
    }
}


.owl-item,.section_separator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


/* Vantágens */
.grid_vantagens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
}

@media (min-width: 427px) and (max-width: 1366px){
    .grid_vantagens {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}


@media (max-width: 426px) {
    .grid_vantagens {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        overflow-x: scroll !important;
        gap: 16px;
        padding: 16px 0px;
        border-radius: var(--curve) !important;
    }
}

.vantagem {
    padding: var(--curve) !important;
    border-radius: 16px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 200px;
    font-size: 1.6em;
}

/* Módulos */
.hero-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

@media (min-width: 600px) and (max-width: 1365px),(min-width: 1366px) and (max-width: 1920px),(min-width: 1921px) and (max-width: 2560px) {
    .hero-card {
        height: 40vh;
    }
}

@media (max-width: 426px) {
    .hero-card {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        padding: 16px;
    }

}

.hero-card-left {
    flex: 1
}

@media (max-width: 1024px) {
    .hero-card-left {
        flex: 1;
        display: none
    }

}

.hero-card-right {
    flex: 1;
    padding: 0vh 2vw;
    font-size: 1.6em;
}

.hero-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-card-item .image-container {
    background-color: white;
    width: 280px !important;
    height: 280px !important;
    border-radius: 16px;
    padding: 2vw;
    display: flex;
    align-items: center;
}

.image-container img {
    width: 100%;
}

/* Revendas */
.rev .row {
    margin-bottom: 0px !important;
}

.rev-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    min-height: 22vh !important;
}

#rev-content {
    text-align: left;
    color: black;
    border-radius: 16px;
    padding: 4vh 16px;
    text-decoration: none !important;
    font-size: 1.6em;
}


@media (max-width: 1024px) {
    .main-grid {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

@media (max-width: 991px) {

    /* Revendas*/
    .rev-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .hero-card-item .image-container {
        background-color: white;
        width: 200px;
        height: 200px;
        border-radius: 16px;
        padding: 16px
    }
}

/* Suporte */
.faq {
    padding: 16px 0px;
}

.duvidas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;

}

@media (max-width: 600px) {
    .duvidas {
        display: grid;
        grid-template-columns: 1fr !important;
        gap: 16px
    }
}

.duvidas .perguntas {
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
    gap: 8px;
    justify-content: center;
}

.perguntas p {
    color: var(--positive-color);
    cursor: pointer !important;
    padding: 16px;
    margin: 0px !important;
    transition: background-color 0.2s ease-in-out;
    font-weight: bold;
    border-radius: var(--curve);
}

.perguntas p:hover{
    background-color: rgba(0, 0, 0, 0.166);
}

.duvidas .respostas {
    display: flex;
    flex-direction: column;
    margin: 16px;
    justify-content: center;
}

.respostas p {
    font-size: 1.8rem !important;
    color: var(--positive-color) !important
}

@media(max-width: 598px) {
    .etiqueta {
        
        color: rgba(0, 0, 0, 0.418) !important;
        font-size: 1.4rem;


    }
}


/* .desapear */
@media(max-width: 1024px) {
    .desapear {
        display: none;
    }

    .desapear_med {
        display: none;
    }

}

@media (min-width: 1025px) and (max-width: 1366px) {
    .desapear {
        display: none;
    }

    .desapear_min {
        display: none;
    }
}

@media (min-width: 1367px) {
    .desapear_med {
        display: none;
    }

    .desapear_min {
        display: none;
    }
}