<%- header%>


<a id="fab_top" href="#inicio" class="float_button btn-large waves-effect waves-light"><span class="material-symbols-outlined">arrow_upward</span></a>
<body>
    <div class="main_menu">
        <nav class="nav">
            <div class="nav-wrapper ">
                <a style="color: black" href="inicio" data-target="mobile-demo" class="sidenav-trigger"><i class="material-symbols-outlined">menu</i></a>
                <div style="margin-left: auto; margin-right: auto; max-width: 1440px; padding-left:16px; align-self: center">
                    <a href="#inicio" class="brand-logo">
                        <img style="width: 150px" alt="estoqgov" src="/images/estoq_gov_logo.svg">
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="nav-link" href="#inicio">Inicio</a></li>
                        <li><a class="nav-link" href="#recursos">Recursos</a></li>
                        <li><a class="nav-link" href="#sistemas_integrados">Sistemas Integrados</a></li>
                        <li><a class="nav-link" href="#planos_contratos">Preços</a></li>
                        <li><a class="waves-effect waves-light btn-small positive" href="http://app.estoqgov.com:8080/externo" target="_blank" targ><span>Login</span></a></li>
                    </ul>


                </div>
            </div>
        </nav>
        <ul id="mobile-demo" class="sidenav sidenav-close">
            <li><a class="nav-link" href="#inicio">Inicio</a></li>
            <li><a class="nav-link" href="#recursos">Recursos</a></li>
            <li><a class="nav-link" href="#sistemas_integrados">Sistemas Integrados</a></li>
            <li><a class="nav-link" href="#planos_contratos">Preços</a></li>
        </ul>
    </div>
    <div class="main_content" onscroll="mostrarPosicaoDeRolagem()">
        <div class="container_behavior">
            <h1 style="display: none">Almoxarifado</h1>

            <div id="inicio">
                <div class="owl-carousel style1">
                    <div><div class="banner desapear">
                        <div class="banner1">
                            <div class="esquerda">
                                <div class="high">
                                    <p class="alm_prim_color">A <span class="alm_sec_color">Melhor</span> Gestão de <br><span class="alm_sec_color" style="word-break: break-word;">Almoxarifado</span> para <br><span class="alm_sec_color">Órgãos Públicos</span></p>
                                </div>
                                <div class="subtitle"><p class="alm_prim_color">Feito exclusivamente para <br> órgãos públicos de todo o brasil</p></div><a href="#planos"></a></div><div class="direita"><div class="preview" style="background-image: url('/images/banner_1_1_l.svg')"></div></div></div></div><div class="banner desapear_med"><div class="banner1"><div class="esquerda"><div class="high"><p class="alm_prim_color">A <span class="alm_sec_color">Melhor</span> Gestão de <br><span class="alm_sec_color" style="word-break: break-word;">Almoxarifado</span> para <br><span class="alm_sec_color">Órgãos Públicos</span></p></p></div><div class="subtitle"><p class="alm_prim_color">Feito exclusivamente para <br> órgãos públicos de todo o brasil</p></p></div><a href="#planos"></a></div><div class="direita"><div class="preview" style="background-image: url('/images/banner_1_1_m.png')"></div></div></div></div><div class="banner desapear_min"><div class="banner1"><div class="esquerda"><div class="high"><p class="alm_prim_color">A <span class="alm_sec_color">Melhor</span> Gestão de <br><span class="alm_sec_color style="word-break: break-word;" ">Almoxarifado</span> para <br><span class="alm_sec_color">Órgãos Públicos</span></p></p></div><div class="subtitle"><p class="alm_prim_color">Feito exclusivamente para <br> órgãos públicos de todo o brasil</p></p></div><a href="#planos"></a></div><div class="direita"><div class="preview" style="background-image: url('/images/banner_1_1_s.png')"></div></div></div></div></div><div><div class="banner desapear    "><div class="banner2"><div class="esquerda"><div class="high"><p class="alm_sec_color">Desperdicio zero, <br>autorize <span class="alm_prim_color">com a<br></span> visão <span class="alm_prim_color">do todo</span></p></p></div><div class="subtitle"><p class="alm_prim_color">Controle todos os depositos centrais e satelites, <br>tudo em um só lugar</p></p></div><a href="#planos"></a></div><div class="direita"><div class="preview" style="background-image: url('/images/banner_2_1_l.png')"></div></div></div></div><div class="banner desapear_med"><div class="banner2"><div class="esquerda"><div class="high"><p class="alm_sec_color">Desperdicio zero, <br>autorize <span class="alm_prim_color">com a<br></span> visão <span class="alm_prim_color">do todo</span></p></p></div><div class="subtitle"><p class="alm_prim_color">Controle todos os depositos centrais e satelites, <br>tudo em um só lugar</p></p></div><a href="#planos"></a></div><div class="direita"><div class="preview" style="background-image: url('/images/banner_2_1_m.png')"></div></div></div></div><div class="banner desapear_min"><div class="banner2"><div class="esquerda"><div class="high"><p class="alm_sec_color">Desperdicio zero, <br>autorize <span class="alm_prim_color">com a<br></span> visão <span class="alm_prim_color">do todo</span></p></p></div><div class="subtitle"><p class="alm_prim_color">Controle todos os depositos centrais e satelites, <br>tudo em um só lugar</p></p></div><a href="#planos"></a></div><div class="direita"><div class="preview" style="background-image: url('/images/banner_2_1_s.png')"></div></div></div></div></div><div><div class="banner desapear    "><div class="banner3"><div class="esquerda"><div class="preview" style="background-image: url('/images/banner_3_1_l.png')"></div></div> <div class="centro"><div class="high"><p class="alm_sec_color">Controle total,<br> <span class="alm_prim_color">da</span> requisição <span class="alm_prim_color">ao</span> recebimento</p></p></div><div class="subtitle"><p class="alm_prim_color">Quem, quando, onde e o que, requisita, <br>autoriza, entrega e recebe</p></p></div><a href="#planos"></a></div><div class="direita"><div class="preview" style="background-image: url('/images/banner_3_2_l.png')"></div></div></div></div><div class="banner desapear_med"><div class="banner3"><div class="esquerda"><div class="preview" style="background-image: url('/images/banner_3_1_m.png')"></div></div> <div class="centro"><div class="high"><p class="alm_sec_color">Controle total,<br> <span class="alm_prim_color">da</span> requisição <span class="alm_prim_color">ao</span> recebimento</p></p></div><div class="subtitle"><p class="alm_prim_color">Quem, quando, onde e o que, requisita, <br>autoriza, entrega e recebe</p></p></div><a href="#planos"></a></div><div class="direita"><div class="preview" style="background-image: url('/images/banner_3_2_m.png')"></div></div></div></div><div class="banner desapear_min"><div class="banner3"><div class="esquerda"><div class="preview" style="background-image: url('/images/banner_3_1_s.png')"></div></div> <div class="centro"><div class="high"><p class="alm_sec_color">Controle total,<br> <span class="alm_prim_color">da</span> requisição <span class="alm_prim_color">ao</span> recebimento</p></p></div><div class="subtitle"><p class="alm_prim_color">Quem, quando, onde e o que, requisita, <br>autoriza, entrega e recebe</p></p></div><a href="#planos"></a></div><div class="direita"><div class="preview" style="background-image: url('/images/banner_3_2_s.png')"></div></div></div></div></div>                </div>
            </div>

            <section style="display: flex; flex-direction: column; gap: var(--main-gap)">
                <article class="behavior_bloc">
                    <div class="row">
                        <div class="col s12 alm_align_center">
                            <!-- <a href="#planos_contratos" style="display: flex; flex-direction: row; justify-content: center"><button class="main_btn big_btn prim_btn waves-effect waves-light">Conheça nossos planos</button></a> -->
                            <h2 style="display: none;">Fluxo / Etapas</h2>
                            <h3 class="alm_sec_color">Acompanhe todas as etapas do fluxo</h3>
                            <!-- <p class="alm_sec_color">Quem, quando, o que e onde!!!</p> -->
                        </div>
                    </div>

                    <div class="flux-row">
                        <div id="alm_card_1" class="card-flip-sideways">
                            <div class="frente">
                                <h4 class="alm_align_left lowlight">Requisição</h4>
                                <img src="/images/passo1.png" alt="Requisição" style="width:100%;">
                                <p class="alm_sec_color">Emita e envie requisições eletronicamente ao almoxarifado central.
                                </p>
                                <a onclick="Flip(1)" class="waves-effect waves-light btn-small positive">Saiba mais</a>

                            </div>
                            <div class="costas">
                                <div class="overflow">
                                    <p style="font-size: var(1.8rem);">Todas as entidades emitem as requisições de materiais ao almoxarifado central e podem acompanhar todo o processo de autorização, liberação, separação, embarque e entrega.</p>
                                </div>

                                <div>
                                    <a onclick="Flipback(1)" class="waves-effect waves-light btn-small positive">Fechar</a>
                                </div>
                            </div>
                        </div>

                        <div id="alm_card_2" class="card-flip-sideways">
                            <div class="frente">
                                <h4 class="alm_align_left lowlight">Autorização & Liberação</h4>
                                <img src="/images/passo2.png" alt="Autorização & Liberação" style="width:100%;height:auto;">
                                <p class="alm_sec_color">Aprove ou Reprove, Autorize e Libere as solicitações com poucos cliques.</p>
                                <a onclick="Flip(2)" class="waves-effect waves-light btn-small positive">Saiba mais</a>
                            </div>
                            <div class="costas">
                                <div class="overflow">
                                    <p style="font-size: var(1.8rem);">Garanta o controle e a conformidade em cada solicitação, com o registro de todos os atores do processo, da solicitação ao recebimento.</p>
                                </div>
                                <div>
                                    <a onclick="Flipback(2)" class="waves-effect waves-light btn-small positive">Fechar</a>
                                </div>
                            </div>
                        </div>

                        <div id="alm_card_3" class="card-flip-sideways">
                            <div class="frente">
                                <h4 class="alm_align_left lowlight">Embarque & Entrega</h4>
                                <img src="/images/passo3.png" alt="Envio" style="width:100%;height:auto;">
                                <p class="alm_sec_color">Acompanhe o processo de embarque e envio dos itens do pedido aprovados.</p>
                                <a onclick="Flip(3)" class="waves-effect waves-light btn-small positive">Saiba mais</a>
                            </div>
                            <div class="costas">
                                <div class="overflow">
                                    <p style="font-size: var(1.8rem);"> Rastreie suas entregas em tempo real e tenha a tranquilidade de saber exatamente quando seus materiais estarão disponíveis.</p>
                                </div>
                                <div>
                                    <a onclick="Flipback(3)" class="waves-effect waves-light btn-small positive">Fechar</a>
                                </div>
                            </div>

                        </div>
                        <div id="alm_card_4" class="card-flip-sideways">
                            <div class="frente">
                                <h4 class="alm_align_left lowlight">Recebimento</h4>
                                <img src="/images/passo4.png" alt="Recebimento" style="width:100%;height:auto;">
                                <p class="alm_sec_color">Realize a conferência minuciosa dos itens no momento do recebimento.</p>
                                <a onclick="Flip(4)" class="waves-effect waves-light btn-small positive">Saiba mais</a>
                            </div>
                            <div class="costas">
                                <div class="overflow">
                                    <p style="font-size: var(1.8rem);">Verifique e registre eletronicamente cada item recebido para assegurar que tudo esteja em conformidade com o solicitado, mantendo um controle absoluto e atualizado do seu estoque.</p>
                                </div>
                                <div>
                                    <a onclick="Flipback(4)" class="waves-effect waves-light btn-small positive">Fechar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article id="recursos" class="behavior_bloc">
                    <div class="row">
                        <div class="col s12 alm_align_center">
                            <h3 class="alm_sec_color">Principais Recursos</h3>
                            <p class="alm_sec_color">Ferramentas que facilitam o dia a dia de quem trabalha no EstoqGOV.</p>
                        </div>
                    </div>

                    <div class="behavior_bloc">
                        <div class="row">
                            <!-- Monitor de requisições -->
                            <div class="col l12 s12" style="padding: 0px !important">
                                <div id="alm_card_5" class="card-flip-verticaly">
                                    <div class="frente hero-vertical">
                                        <div class="align-baseline-reverse">
                                            <div class="col l6 m12 s12">
                                                <img src="/images/recurso_1.png" alt="Monitor de requisições & Entregas" style="padding-top: 16px; width: 100% !important">
                                            </div>
                                            <div class="col l6 m12 s12">
                                                <div class="">
                                                    <h4 class="alm_align_left alm_sec_color lowlight">Monitor de Requisições</h4>
                                                    <p class="alm_align_left highlight" class="alm_align_left">Gerenciamento rápido, entrega rápida!</h2>
                                                    <p class="alm_align_left">Busque, filtre e acompanhe as requisições e entregas de maneira eficiente e organizada.</p>

                                                    <div class="alm_align_left line_buttons">
                                                        <a onclick="FlipAbove(5)" class="waves-effect waves-light btn-small  negative">Saiba mais</a>
                                                        <a href="#planos_contratos" class="waves-effect waves-light btn-small positive">Conheça nossos preços</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="costas_vertical ">
                                        <div class="overflow">
                                            <p style="font-size: 1.8rem; font-weight: bold">Com o EstoqGOV, você tem total visibilidade sobre todas as requisições em andamento. Com o Monitor de Requisições, você pode garantir que nada escape do controle, desde o momento do pedido até a entrega final. Otimize seu tempo e tome decisões ágeis com base em dados precisos, assegurando que os materiais cheguem no prazo e conforme o planejado.</p>
                                        </div>
                                        <div>
                                            <a onclick="FlipBellow(5)" class="waves-effect waves-light btn-small positive">Fechar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="card-grid-resources">


                            <div id="alm_card_6" class="card-flip-verticaly ">
                                <div class="frente">
                                    <!-- Controle de Estoque -->
                                    <h4 class="alm_sec_color  alm_align_left lowlight">Controle de Estoque</h4>
                                    <p class="alm_align_left highlight">Seu estoque na palma da mão</p>
                                    <p class="alm_align_left">Mantenha os níveis de produto sobre controle.</p>

                                    <div class="alm_align_left line_buttons">
                                        <a onclick="FlipAbove(6)" class="waves-effect waves-light btn-small negative">Ver mais</a>
                                    </div>
                                </div>
                                <div class="costas_vertical">
                                    <div class="overflow">
                                        <p style="font-size: 1.8rem; font-weight: bold">Tenha acesso em tempo real ao saldo de estoque de cada item em cada depósito, permitindo assim que você tome decisões rápidas e baseadas em dados precisos. Evite atrasos, interrupções nas operações por falta de estoque ou excessos, mantendo seu almoxarifado sempre organizado e preparado para atender às demandas.</p>
                                    </div>
                                    <div>
                                        <a onclick="FlipBellow(6)" class="waves-effect waves-light btn-small positive">Fechar</a>
                                    </div>

                                </div>
                            </div>



                            <div id="alm_card_7" class="card-flip-verticaly">
                                <div class="frente">
                                    <!-- Controle de Acessos -->
                                    <h4 class="alm_sec_color alm_align_left lowlight">100% Auditável</h4>
                                    <p class="alm_align_left highlight">Mantenha seu estoque seguro</p>
                                    <p class="alm_align_left">Controle quem tem acesso e quem manipula os itens do estoque para te-lo são e salvo</p>

                                    <div class="alm_align_left line_buttons">
                                        <a onclick="FlipAbove(7)" class="waves-effect waves-light btn-small negative">Ver mais</a>
                                    </div>
                                </div>
                                <div class="costas_vertical ">
                                    <div class="overflow">
                                        <p style="font-size: 1.8rem; font-weight: bold">Cada movimentação é registrada detalhadamente, garantindo total transparência e segurança. Realize auditorias com facilidade e tenha a certeza de que seu estoque está protegido contra erros e fraudes, com um histórico completo de acesso e manipulação.</p>
                                    </div>
                                    <div>
                                        <a onclick="FlipBellow(7)" class="waves-effect waves-light btn-small positive">Fechar</a>
                                    </div>

                                </div>
                            </div>


                            <div id="alm_card_8" class="card-flip-verticaly">
                                <div class="frente">
                                    <!-- Gerenciamento Núvem -->
                                    <h4 class="alm_sec_color alm_align_left lowlight">Gerenciamento em Nuvem</h4>
                                    <p class="alm_align_left highlight">Mais leve que uma pluma</p>
                                    <p class="alm_align_left">Controle tudo de onde estiver a hora que quiser!</p>

                                    <div class="alm_align_left line_buttons">
                                        <a onclick="FlipAbove(8)" class="waves-effect waves-light btn-small negative">Ver mais</a>
                                    </div>
                                </div>
                                <div class="costas_vertical ">
                                    <div class="overflow">
                                        <p style="font-size: 1.8rem; font-weight: bold">Você não precisa estar preso a um local específico para gerenciar seu estoque. Acesse todas as funcionalidades do sistema em tempo real, de qualquer lugar e a qualquer hora, tome decisões rápidas e com base em dados precisos.</p>
                                    </div>

                                    <div>
                                        <a onclick="FlipBellow(8)" class="waves-effect waves-light btn-small positive">Fechar</a>
                                    </div>


                                </div>
                            </div>


                            <div id="alm_card_9" class="card-flip-verticaly">
                                <div class="frente">
                                    <!-- Rekatórios -->
                                    <h4 class="alm_sec_color alm_align_left lowlight">Relatórios</h4>
                                    <p class="alm_align_left highlight">Processos concluídos 100% digitalmente</p>
                                    <p class="alm_align_left">Monitore o desempenho, identifique tendências e tome decisões estratégicas com base em dados precisos e atualizados.</p>

                                    <div class="alm_align_left line_buttons">
                                        <a onclick="FlipAbove(9)" class="waves-effect waves-light btn-small negative">Ver mais</a>
                                    </div>
                                </div>
                                <div class="costas_vertical ">
                                    <div class="overflow">
                                        <p style="font-size: 1.8rem; font-weight: bold">Obtenha relatórios detalhados e automatizados de todas as operações, desde a requisição até o recebimento. Visualize o histórico completo de movimentações e tenha em mãos todas as informações necessárias para auditorias e otimizações, garantindo total transparência e eficiência em cada etapa do processo.</p>
                                    </div>
                                    <div>
                                        <a onclick="FlipBellow(9)" class="waves-effect waves-light btn-small positive">Fechar</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </article>

                <article id="sistemas_integrados" class="behavior_bloc">
                    <div class="row">
                        <div class="col s12 alm_align_center">
                            <h2 class="alm_sec_color">Sistemas Integrados</h2>
                            <p class="alm_sec_color">Somos especialistas em almoxarifado, para todas as demais necessidades do setor público, temos excelentes parceiros que se integram e compartilham informação com nosso sistema por meio das nossas APIs de comunicação.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="scrollable_grid">
                            <div class="content_scroll">
                                <div class="card-carrossel alimentacao" aria-label="Nutrigov"></div>

                                <div class="card-carrossel compras" aria-label="Compras Gov"></div>

                                <div class="card-carrossel etransporte" aria-label="eTransporte"></div>
                            </div>
                        </div>

                    </div>
                </article>

                <article id="planos_contratos" class="behavior_bloc">
                    <div class="row">
                        <div class="col s12 alm_align_center">
                            <h2 class="alm_sec_color">Preços</h2>
                            <p class="alm_sec_color">Conheça nossos preços e junte-se a essa grande família de clientes que confiam em nossa solução para almoxarifado</p>
                        </div>
                    </div>

                    <div class="card-row">

                        <!-- Primeiro Plano -->
                        <div class="plano">
                            <div style="display:flex; flex-direction: column; gap: 12px">
                                <p class="alm_prim_color">Órgãos de Pequeno Porte<br>(Essencial)</p>
                                <p class="alm_sec_color highlight">R$ 12.500 / Ano</p>
                                <p class="alm_prim_color">Até 50 Entidades</p>
                                <p class="alm_prim_color">Até 05 Departamentos por entidade</p>
                                <p class="alm_prim_color">Usuários Ilimitados</p>
                                <p class="alm_prim_color">Movimentações Ilimitados</p>
                                <p class="alm_prim_color">Onboarding remoto com um especialista</p>
                                <p class="alm_prim_color">Treinamento remoto via curso online com certificado</p>
                                <p class="alm_prim_color">Suporte Remoto com SLA por gravidade</p>
                                <p class="alm_prim_color">Adicional por Entidade R$ 350 / Ano</p>
                                <p class="alm_prim_color">Adicional por Departamento: R$ 70 / Ano</p>
                            </div>

                            <a itemprop="url" href="http://app.estoqgov.com:8080/externo/formulario_externo?option=1" target="_blank" class="waves-effect waves-light btn-small positive"> Contratar</a>
                        </div>

                        <!-- Segundo Plano -->
                        <div class="plano">
                            <div style="display:flex; flex-direction: column; gap: 12px">
                                <p class="alm_prim_color">Órgãos de Médio Porte<br>(Avançado)</p>
                                <!-- <p class="alm_sec_color lowlight">Mais Popular</p> -->
                                <p class="alm_sec_color highlight">R$ 25.000 / Ano</p>
                                <p class="alm_prim_color">Até 100 Entidades</p>
                                <p class="alm_prim_color">Até 10 Departamentos por entidade</p>
                                <p class="alm_prim_color">Usuários Ilimitados</p>
                                <p class="alm_prim_color">Movimentações Ilimitados</p>
                                <p class="alm_prim_color">Onboarding remoto com um especialista</p>
                                <p class="alm_prim_color">Treinamento remoto via curso online com certificado</p>
                                <p class="alm_prim_color">Suporte Remoto com SLA por gravidade</p>
                                <p class="alm_prim_color">Adicional por Entidade R$ 325 / Ano</p>
                                <p class="alm_prim_color">Adicional por Departamento: R$ 32,50 / Ano</p>
                            </div>

                            <a itemprop="url" href="http://app.estoqgov.com:8080/externo/formulario_externo?option=2" target="_blank" class="waves-effect waves-light btn-small positive"> Contratar</a>
                        </div>

                        <!-- Terceiro Plano -->
                        <div class="plano">
                            <div style="display:flex; flex-direction: column; gap: 12px">
                                <p class="alm_prim_color">Órgãos de Grande Porte<br>(Premium)</p>
                                <p class="alm_sec_color highlight">R$ 50.000 / Ano</p>
                                <p class="alm_prim_color">Até 200 Entidades</p>
                                <p class="alm_prim_color">Até 20 Departamentos por entidade</p>
                                <p class="alm_prim_color">Usuários Ilimitados</p>
                                <p class="alm_prim_color">Movimentações Ilimitados</p>
                                <p class="alm_prim_color">Onboarding remoto com um especialista</p>
                                <p class="alm_prim_color">Treinamento remoto via curso online com certificado</p>
                                <p class="alm_prim_color">Suporte Remoto com SLA por gravidade</p>
                                <p class="alm_prim_color">Adicional por Entidade R$ 300 / Ano</p>
                                <p class="alm_prim_color">Adicional por Departamento: R$ 15 / Ano</p>
                            </div>

                            <a itemprop="url" href="http://app.estoqgov.com:8080/externo/formulario_externo?option=3" target="_blank" class="waves-effect waves-light btn-small positive"> Contratar</a>
                        </div>

                        <!-- Quarto Plano -->
                        <div class="plano">
                            <div style="display:flex; flex-direction: column; gap: 12px">
                                <p class="alm_prim_color">Órgão Federais, Estaduais e <br>Metrópolis (Elite)</p>
                                <p class="alm_sec_color highlight">Preco Sob Consulta</p>
                                <p class="alm_prim_color">Entidades Ilimitadas</p>
                                <p class="alm_prim_color">Até 25 Departamentos por entidade</p>
                                <p class="alm_prim_color">Usuários Ilimitados</p>
                                <p class="alm_prim_color">Movimentações Ilimitados</p>
                                <p class="alm_prim_color">Onboarding remoto com um especialista</p>
                                <p class="alm_prim_color">Treinamento remoto via curso online com certificado</p>
                                <p class="alm_prim_color">Suporte Remoto com SLA por gravidade</p>
                                <p class="alm_prim_color">Adicional por Departamento: R$ 10 / Ano</p>
                            </div>

                            <a itemprop="url" href="http://app.estoqgov.com:8080/externo/formulario_externo?option=4" target="_blank" class="waves-effect waves-light btn-small positive"> Contratar</a>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col s12 alm_align_center">
                            <!-- <p class="alm_sec_color">texto em lorem ipsum</p> -->
                            <a item itemprop="url" href="docs" target="_blank" class="waves-effect waves-light btn-small positive">Certidões</a>
                        </div>
                    </div>
                </article>
            </section>

            <footer style="background-color: var(--alm_prim_color-color)">
                <article id="perguntas" class="behavior_bloc">
                    <div class="faq">
                        <div class="title">
                            <h2 class="alm_sec_color alm_align_center"><span>FAQ - Perguntas Frequentes</span></h2>
                            <p class="alm_align_center">Veja aqui as principais perguntas</p>
                        </div>

                        
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header alm_sec_color">01. O que é o EstoqGOV?</div>
                                <div class="collapsible-body alm_prim_color"><span>O EstoqGOV é uma plataforma digital inovadora, desenvolvida especificamente para a gestão de almoxarifados de órgãos públicos. Ela oferece controle completo sobre o estoque de materiais, desde a requisição até o recebimento, tudo de forma digital, segura e auditável.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header alm_sec_color">02. Quais são os principais benefícios de usar o EstoqGOV?</div>
                                <div class="collapsible-body alm_prim_color"><span>O EstoqGOV facilita a gestão de estoques públicos ao oferecer uma visão completa de todo o processo, permitindo monitoramento em tempo real, transparência total e segurança nas operações. Além disso, ele oferece relatórios detalhados, suporte remoto com SLA por gravidade e treinamento remoto para garantir que sua equipe aproveite ao máximo todas as funcionalidades.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header alm_sec_color">03. O que é, e como é realizado o onboarding?</div>
                                <div class="collapsible-body alm_prim_color"><span>Onboarding é o processo de integração e configuração inicial do EstoqGOV para o seu órgão. Durante o onboarding, nossa equipe de especialistas irá ajudar os responsáveis técnicos pela plataforma no seu órgão a  configurar a plataforma de acordo com as necessidades específicas do mesmo e garantir que todos os recursos da plataforma estejam funcionando corretamente de modo que a plataforma possa ser utilizada da e forma eficiente. No EstoqGOV, o onboarding é realizado de forma remota com o auxílio de um especialista. Esse processo inclui a personalização do sistema, a configuração das entidades e departamentos, e a capacitação para criação dos perfis de acesso e inclusão de usuários para que sua equipe possa começar a utilizar a plataforma com segurança e eficácia. O objetivo do onboarding é garantir que a transição para o uso do EstoqGOV seja suave e que você aproveite ao máximo todos os recursos disponíveis desde o primeiro dia.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header alm_sec_color">04. Como é realizado o treinamento da equipe?</div>
                                <div class="collapsible-body alm_prim_color"><span>O treinamento da equipe no EstoqGOV é realizado de forma remota através de um curso online completo, que abrange todas as funcionalidades do sistema. Os participantes podem aprender no seu próprio ritmo, com acesso a vídeos, materiais de apoio e exercícios práticos. Ao final do curso, os participantes recebem um certificado de conclusão, e nossa equipe de suporte permanece disponível para esclarecer dúvidas e fornecer orientações adicionais.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header alm_sec_color">05. Como funciona o suporte técnico do EstoqGOV?</div>
                                <div class="collapsible-body alm_prim_color"><span>O EstoqGOV oferece suporte remoto com SLA (Service Level Agreement) baseado na gravidade do problema. Isso significa que quanto mais crítica for a questão, mais rápido será o tempo de resposta e resolução. Nossos especialistas estão disponíveis para ajudar em qualquer dificuldade técnica que você possa enfrentar.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header alm_sec_color">06. O EstoqGOV pode ser integrado a outros sistemas utilizados pelo meu órgão?</div>
                                <div class="collapsible-body alm_prim_color"><span>Sim, o EstoqGOV pode ser integrado a outros sistemas, como sistemas de gestão de compras, frotas, nutrição entre outros. Essa integração permite uma operação mais fluida e centralizada, garantindo que todas as informações do EstqGOV possam ser coletadas eletronicamente, eliminando a redigitação de dados e possíveis erros humanos.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header alm_sec_color">07. Posso adicionar mais entidades ou departamentos ao meu plano?</div>
                                <div class="collapsible-body alm_prim_color"><span>Sim, é possível adicionar mais entidades ou departamentos ao seu plano atual por uma taxa adicional anual. Cada plano tem valores específicos para essas adições, permitindo que você expanda o uso da plataforma conforme necessário.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header alm_sec_color">08. Como funciona o plano Governo (Elite)?</div>
                                <div class="collapsible-body alm_prim_color"><span>O Governo (Elite) é um plano personalizado para grandes órgãos públicos que excedem os limites dos outros planos. Ele oferece entidades ilimitadas, até 25 departamentos por entidade, e todas as funcionalidades avançadas do EstoqGOV. O preço é sob consulta e o plano pode ser ajustado para atender às necessidades específicas do seu órgão.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header alm_sec_color">09. Como é o processo de contratação do EstoqGOV?</div>
                                <div class="collapsible-body alm_prim_color"><span>Para contratar o EstoqGOV nos planos para <b>Órgãos de Pequeno Porte (Essencial), Órgãos de Médio Porte (Avançado e Órgãos de Grande Porte (Premium)</b>, basta se inscrever na nossa plataforma atraves da opção “CONTRATAR” de cada plano, que um de nossos especialistas entrará em contato com você e irá orientá-lo sobre o plano mais adequado às suas necessidades e guiar todo o processo de contratação.</span></div>
                            </li>


                        </ul>

                        <div class="title">
                            <p class="alm_sec_color alm_align_center">Você tem alguma dúvida sobre nossos serviços ou gostaria de ser um de nossos representantes?</p>
                            <button class="main_btn big_btn prim_btn negativo waves-effect waves-light">Fale conosco</button>
                        </div>

                    </div>
                </article>
            </footer>
        </div>


    </div>
</body>

<%- footer%>
