<%- header%>
<div class="corpo">
        <div class="header">
            <a href="/"><img src="/images/estoq_gov_logo_white.svg" alt=""></a>
        </div>
        <div class="docs_area">


            <div class="docs_list" style="height: 100%;">
                <div class="title">
                    <h1>Documentos</h1>
                    <p>encontre aqui todos os documentos</p>
                </div>

                <a target="_blank" href="/files/estoqgov_proposal.pdf">
                    <div class="list_item">
                        <div class="item_picture">
                            <span class="material-symbols-outlined">
                                attach_file
                            </span>
                        </div>
                        <div class="item_text">
                            <p>Nome do arquivo</p>
                            <span class="material-symbols-outlined">
                                download
                            </span>
                        </div>
                    </div>
                </a>

               

            </div>
        </div>
    </div>
    <div class="background" style="background-image: url('/images/banner_downloads.svg')"></div>
<%- footer%>
