.banner {
    display: block;
    position: relative;
    padding: 16px 0px;
}

.fundo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner p {
    font-family: 'Roboto', sans-serif !important;
    margin: 0px !important;
    color: var(--primary-color);
}

.banner .high {
    font-size: 5.8rem;
    font-weight: bold;
    line-height: 5.6rem;
    margin: 0px;
    width: 100%;
    word-wrap: break-word;

}

.banner .subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0px;
    width: 100%;
    word-wrap: break-word;

}

.banner .common_text {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0px;
    width: 100%;
    word-wrap: break-word;

}

@media (orientation: portrait){
    @media (max-width: 375px) {

        .fundo {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            height: calc(100vh - 96px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    
        .banner {
            padding: 0px 0px;
        }
    
        .banner .high {
            font-size: 2.8rem;
            line-height: 2.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
            width: 100%;
    
        }
    
        .banner .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }
    
        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }
    
    @media (min-width: 376px) and (max-width: 600px) {
    
        .fundo {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            height: calc(100vh - 96px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    
        .banner {
            padding: 0px 0px;
        }
    
        .banner .high {
            font-size: 3.8rem;
            line-height: 3.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
            width: 100%;
    
        }
    
        .banner .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }
    
        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }
    
    @media (min-width: 601px) and (max-width: 900px) {
    
    
        .banner .high {
            font-size: 3.8rem;
            line-height: 3.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
    
        }
    
        .banner .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }
    
        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }
    
    @media (min-width: 901px) and (max-width: 1024px) {
    
    
        .banner .high {
            font-size: 4.8rem;
            line-height: 4.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
    
        }
    
        .banner .subtitle {
            font-size: 2.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }
    
        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }

    @media (min-width: 1025px) {
    
    
        .banner .high {
            font-size: 4.8rem;
            line-height: 4.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
    
        }
    
        .banner .subtitle {
            font-size: 2.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }
    
        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }
}


@media (orientation: landscape) {

    @media (min-width: 500px) and (max-width: 599px) {
        .banner {
            padding: 0px 0px;
        }

        .banner .high {
            font-size: 2.8rem;
            line-height: 2.4rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;

        }

        .banner .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }

        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }

    @media (min-width: 600px) and (max-width: 799px) {
        .banner {
            padding: 0px 0px;
        }

        .banner .high {
            font-size: 2.4rem;
            line-height: 2.4rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;

        }

        .banner .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }

        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }

    @media (min-width: 800px) and (max-width: 1024px) {
        .banner {
            padding: 16px 0px;
        }

        .banner .high {
            font-size: 3.8rem;
            line-height: 3.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;

        }

        .banner .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }

        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }

    @media (min-width: 1025px) and (max-width: 1111px) {
        .banner {
            padding: 16px 0px;
        }

        .banner .high {
            font-size: 3.8rem;
            line-height: 3.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;

        }

        .banner .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }

        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }

    @media (min-width: 1112px) and (max-width: 1366px) {
        .banner {
            padding: 16px 0px;
        }

        .banner .high {
            font-size: 3.8rem;
            line-height: 3.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;

        }

        .banner .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }

        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
    }

    @media (min-width: 1367px) and (max-width: 1600px) {
        .banner .high {
            font-size: 3.8rem;
            line-height: 3.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }

        .banner .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 0px;
            text-align: center;
        }

        .banner .common_text {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }

    }
}











/* .desapear */
@media(max-width: 1024px) {
    .desapear {
        display: none;
    }

    .desapear_med {
        display: none;
    }

}

@media (min-width: 1025px) and (max-width: 1366px) {
    .desapear {
        display: none;
    }

    .desapear_min {
        display: none;
    }
}

@media (min-width: 1367px) {
    .desapear_med {
        display: none;
    }

    .desapear_min {
        display: none;
    }
}


.chamariz .dispositor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
}

.dispositor .icone {
    background-color: #fff;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    -webkit-box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 20%);
    box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dispositor .texto {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    font-weight: 700;
}


.style1 .owl-nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    right: 0px;
    padding-left: 8px;
    padding-right: 0px;
    margin-left: 0 !important;
    height: calc(100% - 32px);
    top: 0px;
}

@media(max-width: 600px) {
    .style1 .owl-nav {
        min-height: 80vh;
    }
}

.style1 .owl-carousel button.owl-dot {

    border: none;
    padding: 0 !important;
    font: inherit;
}

.style1 .owl-dots {
    z-index: 20;
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.style1 .owl-dots .owl-dot {
    width: 16px !important;
    height: 16px !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 100%;
    margin: 8px;
}

.style1 .owl-dot.active {
    background-color: var(--primary-color) !important;
}