<%- header%>

    <body>
        <div class="main_menu">
            <nav>
                <div class="nav-wrapper">

                    <a style="color: black" href="inicio" data-target="mobile-demo" class="sidenav-trigger"><i
                            class="material-symbols-outlined">menu</i></a>

                    <div class="container">
                        <a href="#inicio" class="brand-logo">

                            <img style="width: 150px" alt="estoqgov"
                                src="/images/etransporte_min.svg">
                        </a>
                        <ul class="right hide-on-large-and-down">

                            <li><a class="nav-link" href="#recursos">Recursos</a></li>
                            <li><a class="nav-link" href="#planos">Preços</a></li>
                            <li><a class="nav-link" href="#perguntas">Suporte</a></li>
                        </ul>
                    </div>

                </div>
            </nav>

            <div>

                <ul id="mobile-demo" class="sidenav sidenav-close">
                    <li><a class="nav-link" href="#recursos">Recursos</a></li>
                    <li><a class="nav-link" href="#planos">Preços</a></li>
                    <li><a class="nav-link" href="#perguntas">Suporte</a></li>
                </ul>
            </div>
        </div>



        <div class="main_content" onscroll="mostrarPosicaoDeRolagem()">
            <h1 style="display: none">Almoxarifado</h1>
            <div id="start">
                <div class="owl-carousel style1">
                    <div class="fundo"
                        style="background-image: url('/images/background.svg') !important;">
                        <div class="banner desapear">
                            <div class="banner3">
                                <div class="esquerda">
                                    <div class="preview"
                                        style="background-image: url('/images/alunos_decoration.svg')">
                                    </div>
                                </div>
                                <div class="centro">
                                    <div class="high">
                                        <p class="color_roxo">Controle e segurança para usuários, gestores e
                                            responsáveis
                                        </p>
                                    </div>
                                    <div class="common_text">
                                        <p class="color_roxo">Check-in e check-out dos usuários do transporte escolar
                                        </p>
                                    </div>
                                </div>
                                <div class="direita">
                                    <div class="preview"
                                        style="background-image: url('/images/bus_decoration.svg')">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner desapear_med container">
                            <div class="banner3">
                                <div class="esquerda">
                                    <div class="preview"
                                        style="background-image: url('/images/alunos_decoration.svg')">
                                    </div>
                                </div>
                                <div class="centro">
                                    <div class="high">
                                        <p class="color_roxo">Controle e segurança para usuários, gestores e
                                            responsáveis
                                        </p>
                                    </div>
                                    <div class="common_text">
                                        <p class="color_roxo">Check-in e check-out dos usuários do transporte escolar
                                        </p>
                                    </div>
                                </div>
                                <div class="direita">
                                    <div class="preview"
                                        style="background-image: url('/images/bus_decoration.svg')">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner desapear_min container">
                            <div class="banner3">
                                <div class="esquerda">
                                    <div class="preview"
                                        style="background-image: url('/images/alunos_decoration_s.svg')">
                                    </div>
                                </div>
                                <div class="centro">
                                    <div class="high">
                                        <p class="color_roxo">Controle e segurança para usuários, gestores e
                                            responsáveis
                                        </p>
                                    </div>
                                    <div class="common_text">
                                        <p class="color_roxo">Check-in e check-out dos usuários do transporte escolar
                                        </p>
                                    </div>
                                </div>
                                <div class="direita">
                                    <div class="preview"
                                        style="background-image: url('/images/bus_decoration.svg')">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fundo"
                        style="background-image: url('/images/background.svg') !important;">
                        <div class="banner desapear container">
                            <div class="banner1">
                                <div class="direita">
                                    <div class="preview"
                                        style="background-image: url('/images/imagem_3.png')">
                                    </div>
                                </div>
                                <div class="esquerda">
                                    <div class="high">
                                        <p class="color_roxo">Faça uma gestão completa e eficiente da sua frota</p>
                                    </div>
                                    <div class="common_text">
                                        <p class="color_roxo">Saldos dos contratos, consumos dos veículos, quilômetros
                                            rodados, controle de viagens e muito mais!.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner desapear_med container">
                            <div class="banner1">
                                <div class="direita">
                                    <div class="preview"
                                        style="background-image: url('/images/imagem_3.png')">
                                    </div>
                                </div>
                                <div class="esquerda">
                                    <div class="high">
                                        <p class="color_roxo">Faça uma gestão completa e eficiente da sua frota</p>
                                    </div>
                                    <div class="common_text">
                                        <p class="color_roxo">Saldos dos contratos, consumos dos veículos, quilômetros
                                            rodados, controle de viagens e muito mais!.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner desapear_min container">
                            <div class="banner1">
                                <div class="direita">
                                    <div class="preview"
                                        style="background-image: url('/images/imagem_3.png')">
                                    </div>
                                </div>
                                <div class="esquerda">
                                    <div class="high">
                                        <p class="color_roxo">Faça uma gestão completa e eficiente da sua frota</p>
                                    </div>
                                    <div class="common_text">
                                        <p class="color_roxo">Saldos dos contratos, consumos dos veículos, quilômetros
                                            rodados, controle de viagens e muito mais!.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fundo"
                        style="background-image: url('/images/background.svg') !important;">
                        <div class="banner desapear container">
                            <div class="banner1">
                                <div class="direita">
                                    <div class="preview"
                                        style="background-image: url('/images/imagem_2.svg')">
                                    </div>
                                </div>
                                <div class="esquerda">
                                    <div class="high">
                                        <p class="color_roxo">Dimensione os custos e antecipe a licitação</p>
                                    </div>
                                    <div class="common_text">
                                        <p class="color_roxo">Você define as rotas e veículos, nós dizemos o quanto
                                            contratar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner desapear_med container">
                            <div class="banner1">
                                <div class="direita">
                                    <div class="preview"
                                        style="background-image: url('/images/imagem_2.svg')">
                                    </div>
                                </div>
                                <div class="esquerda">
                                    <div class="high">
                                        <p class="color_roxo">Dimensione os custos e antecipe a licitação</p>
                                    </div>
                                    <div class="common_text">
                                        <p class="color_roxo">Você define as rotas e veículos, nós dizemos o quanto
                                            contratar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner desapear_min container">
                            <div class="banner1">
                                <div class="direita">
                                    <div class="preview"
                                        style="background-image: url('/images/imagem_2.svg')">
                                    </div>
                                </div>
                                <div class="esquerda">
                                    <div class="high">
                                        <p class="color_roxo">Dimensione os custos e antecipe a licitação</p>
                                    </div>
                                    <div class="common_text">
                                        <p class="color_roxo">Você define as rotas e veículos, nós dizemos o quanto
                                            contratar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Hotjar Tracking Code for my site -->
            <script>
                (function (h, o, t, j, a, r) {
                    h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
                    h._hjSettings = { hjid: 3507421, hjsv: 6 };
                    a = o.getElementsByTagName('head')[0];
                    r = o.createElement('script'); r.async = 1;
                    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                    a.appendChild(r);
                })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
            </script>
            <section id="recursos">
                <div class="bg_degrade_lilaz_top">
                    <div class="container section_separator">
                        <div class="titulo ">
                            <h2 class="color_purple">Título 1</h2>
                            <p class="color_purple">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="recursos section_separator">
                            <div class="left_block">
                                <img loading="lazy"
                                    src="/images/squedule.svg"
                                    alt="">
                            </div>
                            <div class="right_block">
                                <div class="subtitulo">
                                    <h3 class="color_purple">Planejameto de Rotas</h3>
                                    <p class="high color_purple">Paragrafo chamativo a respeito do planejamento
                                        das totas possibilitado pelo sistema.</p>
                                </div>
                                <div class="owl-carousel style2 resources">
                                    <div class="carrou_item">
                                        <div class="list_item_context color_yellow">
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carrou_item">
                                        <div class="list_item_context color_yellow">
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#planos">
                                    <button class="main_btn big_btn prim_btn waves-effect waves-light">Veja os Planos
                                        <div class="bg_color_yellow icon"><span
                                                class="material-symbols-outlined color_roxo">
                                                expand_more
                                            </span></div></button>
                                </a>
                            </div>
                        </div>
                        <div class="recursos reverse section_separator">
                            <div class="left_block">
                                <img loading="lazy"
                                    src="/images/contracts.svg"
                                    alt="">
                            </div>
                            <div class="right_block">
                                <div class="subtitulo">
                                    <h3 class="color_yellow">Planejameto de Rotas</h3>
                                    <p class="high color_yellow">Paragrafo chamativo a respeito do planejamento
                                        das totas possibilitado pelo sistema.</p>
                                </div>
                                <div class="owl-carousel style2 resources">
                                    <div class="carrou_item">
                                        <div class="list_item_context color_yellow">
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#planos">
                                    <button class="main_btn big_btn sec_btn waves-effect waves-light">Veja os Planos<div
                                            class="bg_color_roxo icon"><span
                                                class="material-symbols-outlined color_yellow">
                                                expand_more
                                            </span></div></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="bg_degrade_lilaz_bottom">
                    <div class="container">
                        <div class="recursos section_separator">
                            <div class="left_block">

                                <img loading="lazy"
                                    src="/images/frota.svg"
                                    alt="">

                            </div>
                            <div class="right_block">
                                <div class="subtitulo">
                                    <h3 class="color_yellow">Planejameto de Rotas</h3>
                                    <p class="high color_yellow">Paragrafo chamativo a respeito do planejamento
                                        das totas possibilitado pelo sistema.</p>
                                </div>
                                <div class="owl-carousel style2 resources">
                                    <div class="carrou_item">
                                        <div class="list_item_context color_yellow">
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#planos">
                                    <button class="main_btn big_btn sec_btn waves-effect waves-light">Veja os Planos<div
                                            class="bg_color_roxo icon"><span
                                                class="material-symbols-outlined color_yellow">
                                                expand_more
                                            </span></div></button>
                                </a>
                            </div>
                        </div>
                        <div class="recursos reverse section_separator">
                            <div class="left_block">
                                <img loading="lazy"
                                    src="/images/app.svg"
                                    alt="">
                            </div>
                            <div class="right_block">
                                <div class="subtitulo">
                                    <h3 class="color_purple">Planejameto de Rotas</h3>
                                    <p class="high color_purple">Paragrafo chamativo a respeito do planejamento
                                        das totas possibilitado pelo sistema.</p>
                                </div>
                                <div class="owl-carousel style2 resources">
                                    <div class="carrou_item">
                                        <div class="list_item_context color_yellow">
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                            <div class="item_content">
                                                <span class="material-symbols-outlined ">done</span>
                                                <p>recurso 1</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#planos">
                                    <button class="main_btn big_btn prim_btn waves-effect waves-light">Veja os Planos
                                        <div class="bg_color_yellow icon"><span
                                                class="material-symbols-outlined color_roxo">
                                                expand_more
                                            </span></div></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <article class="section_separator">
                <div class="container">
                    <div class="integracoes bg_color_yellow"
                        style="background-image: url(/images/textura.svg)">
                        <div class="titulo">
                            <h2>As Melhores Integrações</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua.</p>
                        </div>
                        <div class="owl-carousel style3 ">
                            <div class="logos"><img loading="lazy"
                                    src="/images/geweb_min.svg"
                                    alt=""></div>
                            <div class="logos"><img loading="lazy"
                                    src="/images/comprasgov_min.svg"
                                    alt=""></div>
                            <div class="logos"><img loading="lazy"
                                    src="/images/Prancheta_30.svg"
                                    alt=""></div>
                            <div class="logos"><img loading="lazy"
                                    src="/images/lotagovrh_min.svg"
                                    alt=""></div>
                        </div>
                    </div>
                </div>
            </article>

            <article id="planos" class="section_separator">
                <div class="container">
                    <div>
                        <div class="titulo">
                            <h2>Planos e preços</h2>
                            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de
                                impressos.
                            </p>
                        </div>
                        <div class="precos">
                            <div class="valores color_yellow">
                                <p class="min">Plano 1</p>
                                <p class="nrm">Chamariz</p>
                                <p class="max">R$9999,99</p>
                                <p class="nrm">Recurso 1</p>
                                <p class="nrm">Recurso 2</p>
                                <p class="nrm">Recurso 3</p>
                                <p class="nrm">Recurso 4</p>
                                <a href="etransporte-form/1">
                                    <button class="main_btn big_btn sec_btn waves-effect waves-light">Conheça
                                        Agora</button>
                                </a>
                            </div>
                            <div class="valores color_yellow">
                                <p class="min">Plano 1</p>
                                <p class="nrm">Chamariz</p>
                                <p class="max">R$9999,99</p>
                                <p class="nrm">Recurso 1</p>
                                <p class="nrm">Recurso 2</p>
                                <p class="nrm">Recurso 3</p>
                                <p class="nrm">Recurso 4</p>
                                <a href="etransporte-form/2">
                                    <button class="main_btn big_btn sec_btn waves-effect waves-light">Conheça
                                        Agora</button>
                                </a>
                            </div>
                            <div class="valores color_yellow">
                                <p class="min">Plano 1</p>
                                <p class="nrm">Chamariz</p>
                                <p class="max">R$9999,99</p>
                                <p class="nrm">Recurso 1</p>
                                <p class="nrm">Recurso 2</p>
                                <p class="nrm">Recurso 3</p>
                                <p class="nrm">Recurso 4</p>
                                <a href="etransporte-form/3">
                                    <button class="main_btn big_btn sec_btn waves-effect waves-light">Conheça
                                        Agora</button>
                                </a>
                            </div>
                            <div class="valores color_yellow">
                                <p class="min">Plano 1</p>
                                <p class="nrm">Chamariz</p>
                                <p class="max">R$9999,99</p>
                                <p class="nrm">Recurso 1</p>
                                <p class="nrm">Recurso 2</p>
                                <p class="nrm">Recurso 3</p>
                                <p class="nrm">Recurso 4</p>
                                <a href="etransporte-form/4">
                                    <button class="main_btn big_btn sec_btn waves-effect waves-light">Conheça
                                        Agora</button>
                                </a>
                            </div>
                        </div>
                        <div class="titulo">
                            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de
                                impressos.
                            </p>
                            <a href="/docs">
                                <button class="main_btn big_btn sec_btn waves-effect waves-light">Certidões</button>
                            </a>
                        </div>
                    </div>
                </div>
            </article>

            <footer style="background-color: var(--alm_prim_color-color)">
                <article id="perguntas" class="container section_separator">
                    <div class="faq">
                        <div class="titulo">
                            <h2 class="color_roxo alm_align_center"><span>Perguntas</span></h2>
                            <p class="alm_align_center">Veja aqui as principais perguntas</p>
                        </div>


                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header color_roxo">Pergunta 1</div>
                                <div class="collapsible-body color_roxo"><span>Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet
                                        mauris.
                                        Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                        ullamcorper
                                        vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                        faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed
                                        magna
                                        ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque
                                        nec
                                        enim libero. Mauris malesuada in magna eu pretium.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header color_roxo">Pergunta 2</div>
                                <div class="collapsible-body color_roxo"><span>Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet
                                        mauris.
                                        Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                        ullamcorper
                                        vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                        faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed
                                        magna
                                        ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque
                                        nec
                                        enim libero. Mauris malesuada in magna eu pretium.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header color_roxo">Pergunta 3</div>
                                <div class="collapsible-body color_roxo"><span>Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet
                                        mauris.
                                        Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                        ullamcorper
                                        vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                        faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed
                                        magna
                                        ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque
                                        nec
                                        enim libero. Mauris malesuada in magna eu pretium.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header color_roxo">Pergunta 4</div>
                                <div class="collapsible-body color_roxo"><span>Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet
                                        mauris.
                                        Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                        ullamcorper
                                        vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                        faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed
                                        magna
                                        ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque
                                        nec
                                        enim libero. Mauris malesuada in magna eu pretium.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header color_roxo">Pergunta 5</div>
                                <div class="collapsible-body color_roxo"><span>Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Quisque in turpis at dui vehicula fermentum semper sit amet
                                        mauris.
                                        Donec euismod elit at lorem ultrices pellentesque et eu urna. Maecenas
                                        ullamcorper
                                        vulputate nibh, vitae dapibus lacus tincidunt a. Vestibulum ante ipsum primis in
                                        faucibus orci luctus et ultrices posuere cubilia curae; Praesent vitae est sed
                                        magna
                                        ultricies pellentesque. Pellentesque sollicitudin imperdiet faucibus. Quisque
                                        nec
                                        enim libero. Mauris malesuada in magna eu pretium.</span></div>
                            </li>

                        </ul>

                        

                        <div class="titulo">
                            <p class="color_roxo alm_align_center">Você tem alguma dúvida sobre nossos serviços ou
                                gostaria
                                de ser um de nossos representantes?</p>
                            <button class="main_btn big_btn prim_btn negativo waves-effect waves-light">Fale
                                conosco</button>
                        </div>

                    </div>
                </article>
                <div
                    style="display: flex; flex-direction: row; justify-content: center; color: var(--primary-color); font-size: 1.6em">
                    <a style="display: flex; flex-direction: row; justify-content: center; gap: 16px; color: var(--primary-color); font-weight: 700"
                        href="#start">Voltar ao topo</a><span class="material-symbols-outlined">expand_less</span>
                </div>
            </footer>
        </div>

        <div class="rodape" id="cookie-banner">
            <p>Esta página web utiliza cookis para aprimorar sua experiência. Clique em aceitar para permitir a ativação
                destes elementos.</p>
            <div style="display: flex; gap: 16px">
                <button id="cookie-banner-btn">Aceitar</button>
            </div>
        </div>
    </body>

    <%- footer%>