<%- header%>

  <body>
    <a href="/">
      <div class="header">
        <img src="/images/logo_white_animated.svg"
          alt="">
      </div>
    </a>
    <div class="docs_area">
      <div class="title">
        <h2>Documentos</h2>
        <p>encontre aqui todos os documentos</p>
      </div>

      <docs class="docs_list">
        <a target="_blank" href="/files/proposta.pdf" onmouseover="addDeph()">
          <div class="list_item">
            <div class="item_picture">
              <span class="material-symbols-outlined">
                attach_file
              </span>
            </div>
            <div class="item_text">
              <p>Nome do arquivo</p>
              <span class="material-symbols-outlined">
                download
              </span>
            </div>
          </div>
        </a>

        <a target="_blank" href="/files/proposta.pdf" onmouseover="addDeph()">
          <div class="list_item">
            <div class="item_picture">
              <span class="material-symbols-outlined">
                attach_file
              </span>
            </div>
            <div class="item_text">
              <p>Nome do arquivo</p>
              <span class="material-symbols-outlined">
                download
              </span>
            </div>
          </div>
        </a>

        <a target="_blank" href="/files/proposta.pdf" onmouseover="addDeph()">
          <div class="list_item">
            <div class="item_picture">
              <span class="material-symbols-outlined">
                attach_file
              </span>
            </div>
            <div class="item_text">
              <p>Nome do arquivo</p>
              <span class="material-symbols-outlined">
                download
              </span>
            </div>
          </div>
        </a>

        <a target="_blank" href="/files/proposta.pdf" onmouseover="addDeph()">
          <div class="list_item">
            <div class="item_picture">
              <span class="material-symbols-outlined">
                attach_file
              </span>
            </div>
            <div class="item_text">
              <p>Nome do arquivo</p>
              <span class="material-symbols-outlined">
                download
              </span>
            </div>
          </div>
        </a>

        <a target="_blank" href="/files/proposta.pdf" onmouseover="addDeph()">
          <div class="list_item">
            <div class="item_picture">
              <span class="material-symbols-outlined">
                attach_file
              </span>
            </div>
            <div class="item_text">
              <p>Nome do arquivo</p>
              <span class="material-symbols-outlined">
                download
              </span>
            </div>
          </div>
        </a>

        <a target="_blank" href="/files/proposta.pdf" onmouseover="addDeph()">
          <div class="list_item">
            <div class="item_picture">
              <span class="material-symbols-outlined">
                attach_file
              </span>
            </div>
            <div class="item_text">
              <p>Nome do arquivo</p>
              <span class="material-symbols-outlined">
                download
              </span>
            </div>
          </div>
        </a>

      </docs>
    </div>
  </body>
  <%- footer%>