/*
Nome do tema: Almoxarifado Site
Autor: Israel Emanuel Queiroz Valente
Descrição: Tema interno para os sites da smartgovbr e seus produtos.
Licença: GNU General Public License v2 ou posterior
URI da licença: http://www.gnu.org/licenses/gpl-2.0.html
Tags: minimalista, laranja, cinza, azul-escuro
Domínio do texto: smartgovbr
Este tema, como o WordPress, está licenciado sob a GPL.
*/



:root {
    --alm-prim_color: #7b3212;
    --alm-sec_color: #FF8200 !important;
    --warn-color: #FF8200;
    --curve: 16px;
    --main-padding: 16px !important;
    --main-gap: 16px !important
}



*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: var(--alm-sec_color, #FF8200);
    background-clip: content-box;
    border: 2px solid transparent;
}

body {
    display: flex !important;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    /* permitir rolagem em dispositivos móveis e layouts responsivos */
    overflow: auto;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

.main_menu {
    height: 64px;
    z-index: 2;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    height: calc(100dvh - 64px);
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    gap: var(--main-gap);
}

.main_content .container_behavior{
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    align-items: center;
}

.main_content .container_behavior .behavior_bloc{
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

.main_content .container_behavior .behavior_bloc .row{
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.main_content .container_behavior .behavior_bloc .row{
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.scrollable_grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 20dvh;
    gap: var(--main-gap);
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;

}


.scrollable_grid .content_scroll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--main-gap);
    white-space: nowrap;
    width: 100%;
}

@media(max-width: 768px){
    .scrollable_grid .content_scroll{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: var(--main-gap);
        white-space: nowrap;
        width: 100%;
    }
}



@media (min-width:641px) and (max-width: 1366px){
    .main_content .container_behavior{
        width: 90% !important;
        height: 100%;
        padding: var(--main-padding);
    
    }
}

@media(max-width: 640px){
    .main_content .container_behavior{
        width: 100%;
        height: 100%;
        padding: var(--main-padding);
    
    }
}

@media (max-width: 600px) {
    .main_menu {
        height: 56px;
    }
    .main_content {
        width: 100%;
        height: calc(100vh - 56px);
        overflow: auto;
    }
}


.brand-logo {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}


.sidenav{
    z-index: 2!important
}

.sidenav-overlay{
    z-index: 1 !important;
}


body {
    background-color: #f5f5f5 !important;
}

.half {
    height: 38vh !important;
}

.display_none {
    display: none !important;
}

.alm_no_margin {
    padding-right: 0px;
    margin: 0px;
}


.alm_background {
    background-color: #F5F5F5;
}

.alm_prim_color {
    color: var(--alm-prim_color) !important;
}



.alm_sec_color {
    color: var(--alm-sec_color) !important;
}

/* ::Menu */

.backnavbar {
    width: 100%;
    height: 56px !important;
    background-color: #F5F5F5;
}

.nav-wrapper {
    background-color: #fff !important;
    width: 100%;
}

.nav-link {
    color: var(--alm-prim_color)
}


@media (max-width: 768px) {
    .sidenav {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        background-color: var(--alm-sec_color) !important;
        height: 100%;
    }

    .sidenav li a:active {
        background-color: #fff !important;
        color: var(--alm-sec_color) !important;
    }
}

/* ::shadow */


.z-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgb(0 0 0 / 1%), 0 1px 10px 0 rgb(0 0 0 / 7%), 0 2px 4px -1px rgb(0 0 0 / 2%) !important;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 1%), 0 1px 10px 0 rgb(0 0 0 / 7%), 0 2px 4px -1px rgb(0 0 0 / 2%) !important;
}

/* ::botões */

.negative {
    background-color: white !important;
    color: var(--alm-sec_color) !important;
    border-radius: 16px !important;
}

.positive {
    border-radius: 16px !important;
    background-color: var(--alm-sec_color) !important;
}

/* /line buttons/ */

.line_buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 1.0vw;
}

@media (max-width: 600px){
    .line_buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 1.0vw;
    }
    
}

.tabs {
    text-align: center;
    position: relative !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    height: 48px !important;
    width: 100% !important;
    background-color: rgba(100, 100, 100, 0.0) !important;
    margin: 0 auto !important;
    white-space: nowrap !important;
    margin-bottom: 16px !important;
}


.carousel-item {
    transition: all 10ms ease-out 0s !important;
    animation: fadeIn 200ms !important;
}


.owl-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 10%;

}

.owl-nav .owl-prev span,
.owl-nav .owl-next span {
    width: 56px;
    height: 56px;
    font-size: 1.8rem;
}

.owl-dots {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background-color: transparent;
    justify-content: flex-end;
}

.owl-dot {
    background-color: rgba(100, 100, 100, 0.4) !important;
    border-radius: 100% !important;
    width: 16px !important;
    height: 16px !important;
}

.owl-dot.active {
    background-color: var(--alm-sec_color) !important;
}

@media (max-width: 599px) {
    .owl-dots {
        display: flex;
        flex-direction: row;
        gap: 12px;
        background-color: transparent;
        justify-content: center;
    }
}
button:focus{
    background-color: transparent !important;
}