</div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadUserPreferences();

        gsap.registerPlugin(ScrollTrigger, ScrollSmoother, ScrollToPlugin);

        let smoother = ScrollSmoother.create({
            wrapper: "#scroll-wrapper",
            content: "#scroll-content",
            smooth: 1, // how long (in seconds) it takes to "calm" the scroll
            effects: true, // looks for data-speed and data-lag attributes on elements
            smoothTouch: 0.1, // much shorter smoothing time on touch devices (default is NO smoothing on touch devices)

        });

        gsap.to("#paralax-background", {
            y: "-50%", // Move o fundo para criar o efeito de parallax
            ease: "none", // Sem suavização
            scrollTrigger: {
                trigger: "#paralax-background", // Seção que ativa o efeito
                start: "top bottom", // Inicia quando o topo da seção entra na viewport
                end: "bottom top", // Termina quando o fundo da seção sai da viewport
                scrub: true, // Sincroniza com o scroll
                markers: false,   // Mostra os marcadores para depuração (remova em produção)
            },
        });

        gsap.to("#header", {
            backgroundColor: "var(--mat-sys-surface)", // Altera a cor de fundo
            duration: 0.6, // Duração da transição
            ease: "bezier(0.075, 0.82, 0.165, 1)", // Tipo de easing
            scrollTrigger: {
                trigger: "#header", // Elemento que ativa a animação
                start: "top top", // Inicia quando o topo do header atinge o topo da viewport
                end: "bottom top", // Termina quando o fundo do header atinge o topo da viewport
                scrub: false, // Sincroniza a animação com o scroll
                markers: false,   // Mostra os marcadores para depuração (remova em produção)
                toggleActions: "play none none reverse", // Ações de animação
                force3D: true, // Força o uso de 3D para melhor performance
            },
        });

        gsap.to("#inicio", {
            scale: 2,
            opacity: 0,
            duration: 1,
            ease: "bezier(0.075, 0.82, 0.165, 1)", // Tipo de easing
            scrollTrigger: {
                trigger: "#inicio",
                start: "top 0%", // Inicia quando o topo do elemento atinge 80% da viewport
                end: "bottom 60%",  // Termina quando o topo do elemento atinge 100% da viewport
                scrub: true,     // Faz a animação acompanhar o scroll
                markers: false,   // Mostra os marcadores para depuração (remova em produção)
            },
        });

        gsap.to("#vantagens-calltitle", {
            opacity: 0, // Gradualmente desaparece
            duration: .6, // Duração da animação
            ease: "bezier(0.075, 0.82, 0.165, 1)", // Tipo de easing
            scrollTrigger: {
                trigger: "#vantagens-calltitle", // Elemento que ativa a animação
                start: "top 80%", // Inicia quando o topo do elemento atinge 80% da viewport
                end: "bottom 60%", // Termina quando o fundo do elemento atinge 20% da viewport
                scrub: true, // Sincroniza a animação com o scroll
                markers: false, // Mostra os marcadores para depuração (remova em produção)
            },
        });

        if (window.innerWidth <= 640) {
            gsap.to("#advantage-title", {
                opacity: 1, // Gradualmente aparece
                y: 0, // Move para a posição original
                duration: 0.6, // Duração da animação
                ease: "power1.out", // Efeito de suavização
                scrollTrigger: {
                    trigger: "#advantage-title", // Elemento que ativa a animação
                    start: "top 70%", // Inicia quando o topo do elemento atinge 100% da viewport
                    end: "bottom 90%", // Termina quando o fundo do elemento atinge 70% da viewport
                    scrub: true, // Sincroniza a animação com o scroll
                    markers: false, // Mostra os marcadores para depuração (remova em produção)
                },
            });
        } else {
            gsap.to("#advantage-title", {
                opacity: 1, // Gradualmente aparece
                y: 0, // Move para a posição original
                duration: 0.6, // Duração da animação
                ease: "power1.out", // Efeito de suavização
                scrollTrigger: {
                    trigger: "#advantage-title", // Elemento que ativa a animação
                    start: "top 20%", // Inicia quando o topo do elemento atinge 100% da viewport
                    end: "bottom 40%", // Termina quando o fundo do elemento atinge 70% da viewport
                    scrub: true, // Sincroniza a animação com o scroll
                    markers: false, // Mostra os marcadores para depuração (remova em produção)
                },
            });
        }

        const tl = gsap.timeline({
            scrollTrigger: {
                trigger: "#vantagens-list", // Ativa a animação quando a seção #vantagens entra na viewport
                start: "top 70%", // Inicia quando o topo da seção atinge 80% da viewport
                end: "bottom 60%", // Termina quando o fundo da seção atinge 20% da viewport
                markers: false, // Mostra os marcadores para depuração (remova em produção)
                scrub: true, // Sincroniza a animação com o scroll
                toggleActions: "play none none reverse", // Controla o comportamento ao entrar e sair da viewport
            },
        });

        tl.from(".slideFromTop", {
            opacity: 0, // Começa invisível
            y: -20, // Começa deslocado 50px para a direita
            duration: 0.6, // Duração de cada animação
            ease: "power1.out", // Suavização
            stagger: {
                amount: 0.6, // Tempo total do stagger
                from: "end", // Aplica o stagger do último para o primeiro
            },
        })

        const tl2 = gsap.timeline({
            scrollTrigger: {
                trigger: "#vantagens-list2", // Ativa a animação quando a seção #vantagens entra na viewport
                start: "top 70%", // Inicia quando o topo da seção atinge 80% da viewport
                end: "bottom 60%", // Termina quando o fundo da seção atinge 20% da viewport
                markers: false, // Mostra os marcadores para depuração (remova em produção)
                scrub: false, // Sincroniza a animação com o scroll
                toggleActions: "play none none reverse",
            },
        });

        tl2.from(".slideFromBottom", {
            opacity: 0, // Começa invisível
            y: 20, // Começa deslocado 50px para a direita
            duration: 0.6, // Duração de cada animação
            ease: "power1.out", // Suavização
            stagger: {
                amount: 0.6, // Tempo total do stagger
                from: "end", // Aplica o stagger do último para o primeiro
            },
        });

        gsap.to("#freelancers-modal", {
            opacity: 1, // Gradualmente aparece
            y: 0, // Move para a posição original
            scale: 1,
            duration: 0.6, // Duração da animação
            ease: "power1.out", // Efeito de suavização
            scrollTrigger: {
                trigger: "#freelancers", // Elemento que ativa a animação
                start: "top 100%", // Inicia quando o topo do elemento atinge 100% da viewport
                end: "bottom 80%", // Termina quando o fundo do elemento atinge 70% da viewport
                scrub: true, // Sincroniza a animação com o scroll
                markers: false, // Mostra os marcadores para depuração (remova em produção)
            },
        });

        gsap.to("#prod-connect-desk", {
            opacity: 1, // Gradualmente aparece
            x: 0, // Move para a posição original
            scale: 1,
            duration: 0.6, // Duração da animação
            ease: "power1.out", // Efeito de suavização
            scrollTrigger: {
                trigger: "#prod-connect-desk", // Elemento que ativa a animação
                start: "top 100%", // Inicia quando o topo do elemento atinge 100% da viewport
                end: "bottom 80%", // Termina quando o fundo do elemento atinge 70% da viewport
                scrub: true, // Sincroniza a animação com o scroll
                markers: false, // Mostra os marcadores para depuração (remova em produção)
            },
        });

        gsap.to("#prod-connect-schools", {
            opacity: 1, // Gradualmente aparece
            x: 0, // Move para a posição original
            scale: 1,
            duration: 0.6, // Duração da animação
            ease: "power1.out", // Efeito de suavização
            scrollTrigger: {
                trigger: "#prod-connect-schools", // Elemento que ativa a animação
                start: "top 100%", // Inicia quando o topo do elemento atinge 100% da viewport
                end: "bottom 80%", // Termina quando o fundo do elemento atinge 70% da viewport
                scrub: true, // Sincroniza a animação com o scroll
                markers: false, // Mostra os marcadores para depuração (remova em produção)
            },
        });

        const rotateStart = "top 20%";
        const rotateEnd = "bottom 60%";

        // Crie um timeline GSAP sincronizado com o scroll do morphRotate
        const tl3 = gsap.timeline({
            scrollTrigger: {
                trigger: "#morphRotateContainer",
                start: rotateStart,
                end: rotateEnd,
                scrub: true,
                pin: true,
                pinSpacing: false,
                markers: false
            }
        });

        // 1. Rotação do morphRotate (360° durante todo o espaço de rolagem do morphRotateContainer)
        tl3.to("#morphRotate", { borderRadius: "50%", rotation: 360, ease: "none", duration: 1 }, 0);

        // 2. Rotação anti-horária da antiRotate (360° durante todo o espaço de rolagem)
        tl3.to(".antiRotate", { rotation: -360, ease: "none", duration: 1 }, 0);

        // 3. Animações de opacidade das .showX divididas em 3 partes da timeline
        tl3.fromTo(".show1", { opacity: 1 }, { opacity: 1, ease: "none" }, 0)
            .to(".show1", { opacity: 0, ease: "none" }, 1 / 3);

        tl3.fromTo(".show2", { opacity: 0 }, { opacity: 1, ease: "none" }, 1 / 3)
            .to(".show2", { opacity: 0, ease: "none" }, 2 / 3);

        tl3.fromTo(".show3", { opacity: 0 }, { opacity: 1, ease: "none" }, 2 / 3);


        if (window.innerWidth <= 640) {
            document.querySelectorAll('.card-comment').forEach(card => {
                gsap.fromTo(card,
                    { scale: 1, opacity: 1, transformOrigin: "center center" },
                    {
                        scale: 1.05,
                        opacity: 1,
                        scrollTrigger: {
                            trigger: card,
                            start: "top 80%",
                            end: "center center",
                            scrub: true,
                            markers: false // true para depuração
                        }
                    }
                );
                gsap.to(card, {
                    scale: 1,
                    scrollTrigger: {
                        trigger: card,
                        start: "center center",
                        end: "bottom 20%",
                        scrub: true,
                        markers: false // true para depuração
                    }
                });
            });
        }

        
        const bannerTl = gsap.timeline({
            scrollTrigger: {
                trigger: "#bannerCanvas",
                start: "top top",
                end: "bottom bottom",
                scrub: true,
                pin: true,
                pinSpacing: false,
                markers: false,
            }
        });

        
        ///primeira animação, escalonando o item até 100x o tamanho dele iniciando em 0 e concluíndo em 30% da timelin
        bannerTl.fromTo(
            "#meetConnectDeskTitle",
            {
                scale: 1, // 1000%
                transformOrigin: "50% 50%",
                ease: "none",
                force3D: true
            },

            {
                scale: 100,
                transformOrigin: "50% 50%",
                ease: "none",
                force3D: true
            },
            0 
        );


        ///segunda animação, escalonando o item para o tamnho real iniciando em 15% e concluíndo em 40% da timeline
        bannerTl.fromTo(
            "#meetConnectDeskModal",
            { opacity: 0, y: 100, zIndex: 100, force3D: true },
            { opacity: 1, y: 0, zIndex: 100, ease: "none", duration: 0.3, force3D: true },
            0.5 
        );

        ///terceira animação, deslizando de baixo para cima o item iniciando em 50% e concluíndo em 80% da timeline
        bannerTl.fromTo(
            "#meetConnectDeskBackground",
            {
                scale: 0, // 1000%
                transformOrigin: "50% 50%",
                ease: "none"
            },
            {
                scale: 1,
                transformOrigin: "50% 50%",
                ease: "none"
            },
            0
        );



        const backTop = document.getElementById('backTop');
        if (backTop) {
            backTop.addEventListener('click', function (e) {
                e.preventDefault();
                gsap.to(window, { duration: 1, scrollTo: { y: 0 }, ease: "power2.out" });
            });
        }

        document.querySelectorAll('a[href^="#"]').forEach(link => {
            link.addEventListener('click', function (e) {
                const targetId = this.getAttribute('href').replace('#', '');
                const target = document.getElementById(targetId);
                if (target) {
                    e.preventDefault();
                    gsap.to(window, {
                        duration: 1,
                        scrollTo: { y: target, offsetY: 0 },
                        ease: "power2.out"
                    });
                }
            });
        });


        ScrollTrigger.refresh();
    });
</script>