<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">


    <title>
        <%=resposta.title%> Connect-Fy
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://unpkg.com/rxjs@^7/dist/bundles/rxjs.umd.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/script.js"></script>
    <script src="/scripts/alpine.script.js"></script>
    <script src="/scripts/gsap.min.js"></script>
    <script src="/scripts/ScrollTrigger.min.js"></script>
    <script src="/scripts/ScrollSmoother.min.js"></script>
    <script src="/scripts/ScrollToPlugin.min.js"></script>

</head>

<body style="background-color: var(--mat-sys-background)" x-data="geral">

    
    <div class="fixed top-0 left-0 w-full h-max z-50">
        <div class="bg-transparent hidden xl:flex z-20 w-full flex-col transition-all backdrop-blur-3xl" id="header">
            <template x-if="acessibility">
                <div class="hidden xl:flex flex-row justify-end w-full min-h-[64px] bg-[var(--mat-sys-primary)]">
                    <div class="flex flex-row gap-6 items-center px-4 box-border text-[var(--mat-sys-on-primary)]">
                        <!-- <button class="commonButton transparent text-[var(--mat-sys-on-primary)]"
                            @click="toggleDarkMode(), checkColorScheme()" aria-label="Modo Noturno">Modo
                            Noturno</button> -->
                        <button class="commonButton transparent text-[var(--mat-sys-on-primary)]"
                            @click="toggleHighContrast()" aria-label="Alto Contraste">Alto Contraste</button>
                        <button class="commonButton transparent text-[var(--mat-sys-on-primary)]"
                            aria-label="Mapa do Site">Mapa do Site</button>
                        <div class="flex flex-row h-full items-center">
                            <span class="iconButton" @click="toggleUnderline()" aria-label="Sublinhar">
                                <span class="material-symbols-rounded">
                                    format_underlined
                                </span>
                            </span>

                            <span class="iconButton" @click="adjustFontSize(-25)" aria-label="Diminuir Fonte">
                                <span class="material-symbols-rounded">
                                    text_decrease
                                </span>
                            </span>
                            <span class="iconButton" @click="adjustFontSize(100)" aria-label="Fonte Padrão">
                                <span class="material-symbols-rounded">
                                    text_format
                                </span>
                            </span>
                            <span class="iconButton" @click="adjustFontSize(25)" aria-label="Aumentar Fonte">
                                <span class="material-symbols-rounded">
                                    text_increase
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </template>

            <div
                class="relative top-0 left-0 hidden xl:flex flext-row justify-between items-center w-full min-h-[88px] px-4">
                <h1 class="fixed top-0 left-0 opacity-0 select-none pointer-events-none">
                    ConnectFy
                </h1>

                <span class="bg-contain bg-no-repeat bg-center dark:invert-100"
                    style="width: 160px; height: 72px; background-image: url('<%= resposta.logo.imageUrl %>')"></span>

                <div class="flex flex-row gap-4 h-[56px] items-center">
                    <div class="iconButton secondary" @click="toggleAcessibility">
                        <span class="material-symbols-rounded">
                            settings_accessibility
                        </span>
                    </div>
                    <div class="commonButton secondary" aria-label="Login"><span>Login</span></div>
                </div>

                <div class="absolute h-full w-full flex justify-center pointer-events-none">
                    <ul class="flex flex-row gap-4 items-center text-[var(--mat-sys-on-background)] pointer-events-auto"
                        aria-label="Menu Principal">
                        <li><a <%=(resposta.page=='index' ? 'href=#inicio' : 'href=/' ) %> class="commonButton
                                transparent" aria-label="Início">Início</a></li>

                        <li><a href="connectpro" class="commonButton transparent"
                                aria-label="Quero ser ConnectPRO">Quero ser ConnectPRO</a></li>
                        <li><a href="#clients" class="commonButton transparent" aria-label="Clientes">Clientes</a></li>
                        <li><a href="#ourproducts" class="commonButton transparent" aria-label="Produtos">Produtos</a>
                        </li>
                        <li><a href="#beloved" class="commonButton transparent" aria-label="Depoimentos">Depoimentos</a>
                        </li>
                        <li><a href="about" class="commonButton transparent" aria-label="Sobre Nós">Sobre Nós</a></li>
                        <li><a href="#faq" class="commonButton transparent" aria-label="Faq">Faq</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <template x-if="acessibility">
            <div class="relative flex xl:hidden flex-row justify-between w-full min-h-[48px] bg-[var(--mat-sys-primary)]">
                <div class="flex flex-row items-center box-border text-[var(--mat-sys-on-primary)]">
                    <!-- <button class="iconButton" id="toggle-dark-mode" aria-label="Modo Noturno">
                            <span class="material-symbols-rounded">
                                mode_night
                            </span>
                        </button> -->
                    <button @click="toggleHighContrast()" class="iconButton" id="toggle-high-contrast"
                        aria-label="Alto Contraste">
                        <span class="material-symbols-rounded">
                            contrast
                        </span>
                    </button>
                    <button class="iconButton" aria-label="Hub">
                        <span class="material-symbols-rounded">
                            hub
                        </span>
                    </button>
                </div>

                <div class="flex flex-row h-full items-center text-[var(--mat-sys-on-primary)]">
                    <button class="iconButton" @click="toggleUnderline()" id="underscore" aria-label="Sublinhar">
                        <span class="material-symbols-rounded">
                            format_underlined
                        </span>
                    </button>

                    <button @click="adjustFontSize(-25)" class="iconButton" id="decrease-font"
                        aria-label="Diminuir Fonte">
                        <span class="material-symbols-rounded">
                            text_decrease
                        </span>
                    </button>
                    <button @click="adjustFontSize(100)" class="iconButton" id="default-font" aria-label="Fonte Padrão">
                        <span class="material-symbols-rounded">
                            text_format
                        </span>
                    </button>
                    <button @click="adjustFontSize(25)" class="iconButton" id="increase-font"
                        aria-label="Aumentar Fonte">
                        <span class="material-symbols-rounded">
                            text_increase
                        </span>
                    </button>
                </div>
            </div>
        </template>

        <div class="flex xl:hidden flex-col w-full z-20"
            style="position: fixed; margin: 8px; max-width: calc(100% - 16px); border-radius: 24px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); background-color: rgba(255, 255, 255, 0.4); backdrop-filter: blur(10px); padding: 0px 8px;">


            <div
                class="relative flex xl:hidden flext-row items-center justify-between w-full min-h-[56px] md:px-4 text-[var(--mat-sys-on-background)]">
                <div class="iconButton" aria-label="Menu" @click="toggleMenu()">
                    <span class="material-symbols-rounded" style="font-size: 2.0rem;">menu</span>
                </div>

                <div class="w-[48px] h-[48px] flex items-center justify-center opacity-0"></div>

                <div class="absolute top-0 left-0 flex flex-row w-full h-full items-center justify-center"
                    style="transform: scale(0.8);">
                    <div class="flex flex-col justify-center items-center leading-5 font-bold"
                        style="font-size: 1.5rem;">
                        <span>ConnectFy</span>
                    </div>
                </div>

            </div>
        </div>



        <div class="mat-menu flex flex-col justify-between xl:hidden" :class="{'show' : toggleMobileMenu}">
            <ul class="mat-menu-content" aria-label="Menu Mobile">
                <li class="commonButton">
                    <a class="w-full h-full flex items-center justify-center" class="commonButton"
                        <%=(resposta.page=='index' ? 'href=#inicio' : 'href=/' ) %> aria-label="Início"
                        @click="toggleMenu()">Início</a>
                </li>
                <li class="commonButton">
                    <a class="w-full h-full flex items-center justify-center" href="connectpro"
                        aria-label="Quero ser ConnectPRO" @click="toggleMenu()">Quero ser
                        ConnectPRO</a>
                </li>
                <li class="commonButton">
                    <a class="w-full h-full flex items-center justify-center" href="#clients" aria-label="Clientes"
                        @click="toggleMenu()">Clientes</a>
                </li>
                <li class="commonButton">
                    <a class="w-full h-full flex items-center justify-center" href="#ourproducts" aria-label="Produtos"
                        @click="toggleMenu()">Produtos</a>
                </li>
                <li class="commonButton">
                    <a class="w-full h-full flex items-center justify-center" href="#beloved" aria-label="Depoimentos"
                        @click="toggleMenu()">Depoimentos</a>
                </li>
                <li class="commonButton">
                    <a class="w-full h-full flex items-center justify-center" href="about" aria-label="Sobre Nós"
                        @click="toggleMenu()">Sobre Nós</a>
                </li>
                <li class="commonButton">
                    <a class="w-full h-full flex items-center justify-center" href="#faq" aria-label="Faq"
                        @click="toggleMenu()">Faq</a>
                </li>
            </ul>

            <div class="w-full flex flex-col items-center">
                <span @click="toggleAcessibility(); toggleMenu()" aria-label="Acessibilidade"
                    class="w-full commonButton primary">
                    <span class="material-symbols-rounded">
                        settings_accessibility
                    </span>
                    Acessibilidade
                </span>
            </div>
        </div>

        <template x-if="toggleMobileMenu">
            <div class="backdrop" id="closeMenu" @click="toggleMenu()"></div>
        </template>
    </div>

    <div id="scroll-wrapper" class="overflow-x-hidden">
        <div id="scroll-content" class="overflow-x-hidden">